.car__item__price {
    position: relative;
    top: -25%;
}

.car__item{
    height: 166px;
}

.car__item__text {
    border: none;
}

.car__item__price .car-option {
    background: #67349d;
}

.car__item__price h6 {
    color: #0d6efd;
}