<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="HVAC Template">
    <meta name="keywords" content="HVAC, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Account Info</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../../user_assets/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../../user_assets/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../../user_assets/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../../user_assets/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="../../user_assets/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="../../user_assets/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../../user_assets/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../../user_assets/css/style.css" type="text/css">
    <link rel="stylesheet" href="../../user_assets/css/formstyle.css">
    <link rel="stylesheet" href="../../user_assets/css/show-pass.css">
    <style>
        .show-pass-button{
            position: absolute;
            top: 38px;
            left: 86%;
        }

        #phone-comment{
            color: #db2d2e;
        }
    </style>
    <link rel="stylesheet" href="../../user_assets/css/account-style.css">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <link rel="stylesheet" href="../../user_assets/css/popup.css">

<!--    notification css-->
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="../../user_assets/css/notification-style.css" />
    <th:block th:if="${session.client != null}">
        <script>let id = '[[${session.client.getId()}]]'</script>
    </th:block>
    <script src="../../user_assets/js/notification-js.js"></script>
</head>

<body>
<div class="all-page">
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

<!--    notification starts-->
    <div th:if="${session.client != null}" class="header_notification_warp d-flex align-items-center justify-content-center" style="z-index: 3; position: absolute; right: 2rem;">
        <li>
            <a class="bell_notification_clicker" href="#">
                <div class="fa fa-bell"></div>
            </a>

            <div class="Menu_NOtification_Wrap">
                <div class="notification_Header">
                    <h4>Notifications</h4>
                </div>
                <div class="Notification_body">
                </div>
                <div class="nofity_footer">
                    <div class="submit_button text-center pt_20">
                        <a href="#" class="btn_1">See More</a>
                    </div>
                </div>
            </div>
        </li>
    </div>
<!--    notification ends-->

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__widget">
            <a href="#"><i class="fa fa-cart-plus"></i></a>
            <a href="#" class="search-switch"><i class="fa fa-search"></i></a>
            <a href="#" class="primary-btn">Add Car</a>
        </div>
        <div class="offcanvas__logo">
            <a href="./index.html"><img src="../../user_assets/img/logo.png" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <ul class="offcanvas__widget__add">
            <li><i class="fa fa-clock-o"></i> Week day: 08:00 am to 18:00 pm</li>
            <li><i class="fa fa-envelope-o"></i> Info.colorlib@gmail.com</li>
        </ul>
        <div class="offcanvas__phone__num">
            <i class="fa fa-phone"></i>
            <span>(+12) 345 678 910</span>
        </div>
        <div class="offcanvas__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-google"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="/"><img src="../../user_assets/img/logo.png" alt=""></a>
                        <p class="logo-text ms-2 d-none d-sm-block">Timeless Ride</p>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="header__nav">
                        <nav class="header__menu" style="width: 100%">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/car">Car Inventory</a></li>
                                <li class="active"><a href="/account">Account</a></li>
                                <li><a href="#">History</a>
                                    <ul class="dropdown">
                                        <li><a href="/transactions_history">Transactions History</a></li>
                                        <li><a href="/meeting_history">Meeting History</a></li>
                                    </ul>
                                </li>
                                <li><a href="/post_car">Post Car</a></li>
                                <li><a href="/customer_service">Customer Service</a></li>
                                <li th:if="${session.client != null}">
                                    <a href="/log-out">Log out</a>
                                </li>
                                <li th:if="${session.client == null}">
                                    <a href="/signin">Login</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <span class="fa fa-bars"></span>
            </div>
        </div>
    </header> <!-- Header Section End -->

    <!-- Breadcrumb End -->
    <div class="breadcrumb-option set-bg" data-setbg="../../user_assets/img/breadcrumb-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Account Info</h2>
                        <div class="breadcrumb__links">
                            <a href="/"><i class="fa fa-home"></i> Home</a>
                            <span>Account Info</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section style="width:100%;">

        <!-- code here -->
        <div class="container rounded bg-white mt-5 mb-5">
            <div class="row">
                <div class="col-md-2 border-right">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img
                            class="rounded-circle mt-5" width="150px"
                            src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span
                            class="font-weight-bold" th:text="${session.client.getName()}"/><span
                            class="text-black-50" th:text="${session.client.getEmail()}"/></div>
                </div>
                <div class="col-md-7 border-right">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">Profile Settings</h4>
                        </div>

                        <form action="/update-info">
                            <div class="row mt-2">
                                <div class="col-md-6">
                                    <label class="labels">Full Name</label>
                                    <input type="text" class="form-control"
                                           th:placeholder="${session.client.getName()}"
                                           th:value="${session.client.getName()}"
                                           name="name">
                                </div>
                                <div class="col-md-6">
                                    <label class="labels">Mobile Number</label>
                                    <input id="phone-number" type="text" class="form-control"
                                           th:placeholder="${session.client.getPhone()}"
                                           th:value="${session.client.getPhone()}"
                                           onclick="toPhoneNum('091-444-8994')"
                                           name="phone">
                                    <p id="phone-comment"></p>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-6">
                                    <label class="labels">Gender</label>
                                    <select class="second-row-input" id="gender" name="gender">
                                        <option value="male" th:selected="${session.client.getGender()=='male'}">Male</option>
                                        <option value="female" th:selected="${session.client.getGender()=='female'}">Female</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label class="labels">Date of birth</label>
                                    <input class="second-row-input" id="dob" type="date"
                                           name="dob" th:value="${session.client.getDob()}">
                                </div>
                            </div>
                            <div class="row mt-2">

                                <div class="col-md-12">
                                    <label class="labels">Address</label>
                                    <input type="text" class="form-control"
                                           th:placeholder="${session.client.getAddress()}"
                                           th:value="${session.client.getAddress()}"
                                           name="address">
                                </div>
                                <div class="col-md-12">
                                    <label class="labels">Email</label>
                                    <input type="text" class="form-control"
                                           th:placeholder="${session.client.getEmail()}"
                                           th:value="${session.client.getEmail()}"
                                           disabled>
                                </div>
                            </div>

                            <div class="mt-5 text-center">
                                <input  class="btn btn-primary profile-button mg25" type="submit"
                                       value="Save Profile">
                            </div>
                        </form>

                    </div>
                </div>

                <div class="col-md-3">
                    <button id="change-password-button" class="btn btn-primary profile-button mg25" type="button">Change
                        Password
                    </button>
                    <form action="/change-password">
                        <div class="change-password row mt-3">
                            <div class="col-md-12">
                                <label class="labels">Current Password</label>
                                <input id="currentPassword" type="password" class="form-control" placeholder="enter current password" name="oldPass">
                                <i></i><i class="show-pass-button fa fa-eye"></i>
                            </div>
                            <div class="col-md-12">
                                <label class="labels">New Password</label>
                                <input id="newPass" type="password" class="form-control" placeholder="enter new password" name="newPass">
                                <i></i><i class="show-pass-button fa fa-eye"></i>
                            </div>
                            <div class="col-md-12">
                                <label class="labels">Confirm New Password</label>
                                <input id="confirmNewPass"type="password" class="form-control" placeholder="repeat new password">
                                <i></i><i class="show-pass-button fa fa-eye"></i>
                            </div>
                            <span id="passwordMatchResult" style="font-size: 10px; color: red"></span>
                            <p id="message" style="pointer-events: none; user-select: none"></p>
                            <div class="text-center">
                                <button onclick="return checkChangePasswordSubmit()" class="btn btn-primary profile-button"
                                        type="button">Save Profile
                                </button>
                            </div>
                        </div>
                    </form>

                </div>

            </div>
        </div>

        <div class="wrapper">

            <div class="modal_wrapper" th:classappend="${status!=null} ? 'active': ''">
                <div class="shadow close_btn"></div>
                <div class="modal">
                    <div class="modal_item s_modal active" th:if="${status == 'success'}">
                        <div class="close close_btn">
                            <ion-icon name="close"></ion-icon>
                        </div>
                        <div class="modal_body" style="background-color: whitesmoke">
                            <div class="s_icon">
                                <ion-icon name="checkmark"></ion-icon>
                            </div>
                            <div class="s_text">
                                <h2>SUCCESS</h2>
                                <p  th:text="${message}" ></p>
                            </div>
                        </div>
                        <div class="s_button">
                            <button class="success_btn">Continue</button>
                        </div>
                    </div>

                    <div class="modal_item e_modal active" th:if="${status == 'fail'}">
                        <div class="close close_btn">
                            <ion-icon name="close" th:onclick="fade()"></ion-icon>
                        </div>
                        <div class="modal_body" style="background-color:whitesmoke">
                            <div class="s_icon">
                                <ion-icon name="help"></ion-icon>
                            </div>
                            <div class="s_text">
                                <h2>ERROR</h2>
                                <p th:text="${message}"></p>
                            </div>
                        </div>
                        <div class="s_button">
                            <button class="error_btn">Continue</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer Section Begin -->
    <footer class="footer set-bg" data-setbg="../../user_assets/img/footer-bg.jpg">
        <div class="container">
            <div class="footer__contact">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__contact__title">
                            <h2>Contact Us Now!</h2>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__contact__option">
                            <div class="option__item"><i class="fa fa-phone"></i> (+12) 345 678 910</div>
                            <div class="option__item email"><i class="fa fa-envelope-o"></i> Colorlib@gmail.com
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="/"><img src="../../user_assets/img/white-car-logo.png" width="100"></a>
                            <p class="logo-text ms-2 d-none d-sm-block" style="  margin: 0px 0 15px 8px;">Timeless
                                Ride
                            </p>
                        </div>
                        <p>Any questions? Let us know in store at 625 Gloria Union, California, United Stated or
                            call us
                            on (+1) 96 123 8888</p>
                        <div class="footer__social">
                            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="google"><i class="fa fa-google"></i></a>
                            <a href="#" class="skype"><i class="fa fa-skype"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3">
                    <div class="footer__widget">
                        <h5>Infomation</h5>
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Purchase</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Payemnt</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Shipping</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Return</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3">
                    <div class="footer__widget">
                        <h5>Infomation</h5>
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Hatchback</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Sedan</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> SUV</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Crossover</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer__brand">
                        <h5>Top Brand</h5>
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Abarth</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Acura</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Alfa Romeo</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Audi</a></li>
                        </ul>
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-right"></i> BMW</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Chevrolet</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Ferrari</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Honda</a></li>
                        </ul>
                    </div>
                </div>
            </div>
<!--            &lt;!&ndash; Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. &ndash;&gt;-->
<!--            <div class="footer__copyright__text">-->
<!--                <p>Copyright &copy;-->
<!--                    <script>document.write(new Date().getFullYear());</script>-->
<!--                    All rights reserved | This template-->
<!--                    is-->
<!--                    made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com"-->
<!--                                                                                   target="_blank">Colorlib</a>-->
<!--                </p>-->
<!--            </div>-->
<!--            &lt;!&ndash; Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. &ndash;&gt;-->
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
</div>




<!-- Js Plugins -->
<script src="../../user_assets/js/jquery-3.3.1.min.js"></script>
<script src="../../user_assets/js/bootstrap.min.js"></script>
<script src="../../user_assets/js/jquery-ui.min.js"></script>
<script src="../../user_assets/js/jquery.magnific-popup.min.js"></script>
<script src="../../user_assets/js/mixitup.min.js"></script>
<script src="../../user_assets/js/jquery.slicknav.js"></script>
<script src="../../user_assets/js/owl.carousel.min.js"></script>
<script src="../../user_assets/js/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="../../user_assets/js/account-script.js"></script>
<script src="../../user_assets/js/show-pass.js"></script>
<script>
    const currentPasswordInput = document.getElementById("currentPassword");
    const newPasswordInput = document.getElementById("newPass");
    const repeatPasswordInput = document.getElementById("confirmNewPass");
    const message = document.getElementById("message");

    function checkRepeatPassword(){
        if(newPasswordInput.value == repeatPasswordInput.value){
            message.innerHTML = "Matched"
            message.style.color = "green";
        }else{
            message.innerHTML = "Not Matched";
            message.style.color = "red";
        }
    }

    newPasswordInput.addEventListener("keyup",() => checkRepeatPassword());
    newPasswordInput.addEventListener("keydown", () => checkRepeatPassword());
    repeatPasswordInput.addEventListener("keyup", () => checkRepeatPassword());
    repeatPasswordInput.addEventListener("keydown", () => checkRepeatPassword());

    function checkChangePasswordSubmit(){
        if(currentPasswordInput.value == ""){
            alert("Please enter current password");
            return false;
        }
        else if(newPasswordInput.value == ""){
            alert("Please enter new password");
            return false;
        }
        else if(repeatPasswordInput.value == ""){
            alert("Please repeat new password");
            return false;
        }
        else if(message.innerHTML == "Matched"){
            return true;
        }
        else if(message.innerHTML == "Not Matched") {
            alert("Password doesn't match");
            return false;
        }else {
            alert("Please enter new password");
            return false;
        }
    }
</script>
<script src="../../user_assets/js/check-phone-number.js"></script>
<script>
    // Get the close icon element
    const closeIcon = document.querySelectorAll('.close_btn ion-icon');

    //Get the background
    const background = document.querySelector(".modal_wrapper")

    // Add event listener to the close icon
    closeIcon.forEach((close) => close.addEventListener('click', () => {
        // Hide the modal
        const modal = close.parentElement.parentElement;
        modal.style.display = 'none';
        background.classList.remove("active");
    }));
    // Get the "Continue" buttons
    var successButton = document.querySelector('.success_btn');
    var errorButton = document.querySelector('.error_btn');

    // Get the modals
    var successModal = document.querySelector('.s_modal');
    var errorModal = document.querySelector('.e_modal');

    // Add click event listener to the success button
    successButton.addEventListener('click', function() {
        // Hide the success modal by setting display to "none"
        successModal.style.display = 'none';
        background.classList.remove("active");

    });

    // Add click event listener to the error button
    errorButton.addEventListener('click', function() {
        // Hide the error modal by setting display to "none"
        errorModal.style.display = 'none';
        background.classList.remove("active");

    });


</script>
<!-- notification js-->
<script src="../../admin_assets/js/metisMenu.js"></script>
<script src="../../admin_assets/js/custom.js"></script>

</body>


</html>