<!DOCTYPE html>
<html lang="zxx"  dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="HVAC Template">
    <meta name="keywords" content="HVAC, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Car Details</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../../user_assets/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../../user_assets/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../../user_assets/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../../user_assets/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../../user_assets/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="../../user_assets/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="../../user_assets/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../../user_assets/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../../user_assets/css/splide-sea-green.min.css">
    <link rel="stylesheet" href="../../user_assets/css/style.css" type="text/css">

    <link rel="stylesheet" href="../../user_assets/css/popup.css">


    <link rel="stylesheet" href="../../user_assets/css/book-meeting.css">
    <script src="../../user_assets/js/booking-meeting.js"></script>

    <link rel="stylesheet" href="../../user_assets/css/calendar-style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
          rel="stylesheet" />
</head>

<body>
<div class="all-page">
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__widget">
            <a href="#"><i class="fa fa-cart-plus"></i></a>
            <a href="#" class="search-switch"><i class="fa fa-search"></i></a>
            <a href="#" class="primary-btn">Add Car</a>
        </div>
        <div class="offcanvas__logo">
            <a href="./index.html"><img src="../../user_assets/img/logo.png" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <ul class="offcanvas__widget__add">
            <li><i class="fa fa-clock-o"></i> Week day: 08:00 am to 18:00 pm</li>
            <li><i class="fa fa-envelope-o"></i> Info.colorlib@gmail.com</li>
        </ul>
        <div class="offcanvas__phone__num">
            <i class="fa fa-phone"></i>
            <span>(+12) 345 678 910</span>
        </div>
        <div class="offcanvas__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-google"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
<!--        <div class="header__top">-->
<!--            <div class="container">-->
<!--                <div class="row">-->
<!--                    <div class="col-lg-7">-->
<!--                        <ul class="header__top__widget">-->
<!--                            <li><i class="fa fa-clock-o"></i> Week day: 08:00 am to 18:00 pm</li>-->
<!--                            <li><i class="fa fa-envelope-o"></i> Info.colorlib@gmail.com</li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                    <div class="col-lg-5">-->
<!--                        <div class="header__top__right">-->
<!--                            <div class="header__top__phone">-->
<!--                                <i class="fa fa-phone"></i>-->
<!--                                <span>(+12) 345 678 910</span>-->
<!--                            </div>-->
<!--                            <div class="header__top__social">-->
<!--                                <a href="#"><i class="fa fa-facebook"></i></a>-->
<!--                                <a href="#"><i class="fa fa-twitter"></i></a>-->
<!--                                <a href="#"><i class="fa fa-google"></i></a>-->
<!--                                <a href="#"><i class="fa fa-instagram"></i></a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="/"><img src="../../user_assets/img/logo.png" alt=""></a>
                        <p class="logo-text ms-2 d-none d-sm-block">Timeless Ride</p>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="header__nav">
                        <nav class="header__menu" style="width: 100%;">
                            <ul>
                                <li class="active"><a href="/">Home</a></li>
                                <li><a href="/car">Car Inventory</a></li>
                                <li><a href="/account">Account</a></li>
                                <li><a href="#">History</a>
                                    <ul class="dropdown">
                                        <li><a href="/transactions_history">Transactions History</a></li>
                                        <li><a href="/meeting_history">Meeting History</a></li>
                                    </ul>
                                </li>
                                <li><a href="/post_car">Post Car</a></li>
                                <li><a href="/customer_service">Customer Service</a></li>
                                <li th:if="${session.client != null}">
                                    <a href="/log-out">Log out</a>
                                </li>
                                <li th:if="${session.client == null}">
                                    <a href="/signin">Login</a>
                                </li>

                            </ul>
                        </nav>

                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <span class="fa fa-bars"></span>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Breadcrumb End -->
    <div class="breadcrumb-option set-bg" data-setbg="../../user_assets/img/breadcrumb-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2 th:text="${carDto.getName()}"></h2>
                        <div class="breadcrumb__links">
                            <a href="/"><i class="fa fa-home"></i> Home</a>
                            <a href="/car">Car Inventory</a>
                            <span th:text="${carDto.getName()}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Begin -->

    <!-- Car Details Section Begin -->
    <section class="car-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="car__details__pic">
                        <div id="main-slider" class="splide col-sm-12">
                            <div class="splide__track">
                                <ul class="splide__list">
                                    <li class="splide__slide">
                                        <img class="car-big-img" src="../../user_assets/img/cars/details/sm-1.jpg">
                                    </li>
                                    <li class="splide__slide">
                                        <img class="car-big-img" src="../../user_assets/img/cars/details/sm-2.jpg">
                                    </li>
                                    <li class="splide__slide">
                                        <img class="car-big-img" src="../../user_assets/img/cars/details/sm-3.jpg">
                                    </li>
                                    <li class="splide__slide">
                                        <img class="car-big-img" src="../../user_assets/img/cars/details/sm-4.jpg">
                                    </li>
                                    <li class="splide__slide">
                                        <img class="car-big-img" src="../../user_assets/img/cars/details/sm-5.jpg">
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div id="thumbnail-slider" class="splide">
                            <div class="splide__track">
                                <ul class="splide__list">
                                    <li class="splide__slide">
                                        <img src="../../user_assets/img/cars/details/sm-1.jpg">
                                    </li>
                                    <li class="splide__slide">
                                        <img src="../../user_assets/img/cars/details/sm-2.jpg">
                                    </li>
                                    <li class="splide__slide">
                                        <img src="../../user_assets/img/cars/details/sm-3.jpg">
                                    </li>
                                    <li class="splide__slide">
                                        <img src="../../user_assets/img/cars/details/sm-4.jpg">
                                    </li>
                                    <li class="splide__slide">
                                        <img src="../../user_assets/img/cars/details/sm-5.jpg">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="car__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" id="nav-1" role="tab">Vehicle
                                    Overview</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" id="nav-2" role="tab">Technical</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <div class="car__details__tab__info">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12">
                                            <div class="car__details__tab__info__item">
                                                <ul>
                                                    <li><i class="fa fa-check"></i> <b>Name:</b> <span th:text="${carDto.getName()}"/></li>
                                                    <li><i class="fa fa-check"></i> <b>Price:</b> $<span th:text="${carDto.getPrice()}"/></li>
                                                    <li><i class="fa fa-check"></i> <b>Status:</b> <span th:text="${carDto.getStatus()}"/></li>
                                                    <li><i class="fa fa-check"></i> <b>Interior Color:</b> <span th:text="${carDto.getCarDescription().getInteriorColor()}"/></li>
                                                    <li><i class="fa fa-check"></i> <b>Interior Material:</b> <span th:text="${carDto.getCarDescription().getInteriorMaterial()}"/></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-2" role="tabpanel">
                                <div class="car__details__tab__info">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="car__details__tab__info__item">
                                                <ul>
                                                    <li><i class="fa fa-check"></i> <b>Make:</b><span th:text="${carDto.getCarDescription().getMake()}"/></li>
                                                    <li><i class="fa fa-check"></i> <b>Model:</b> <span th:text="${carDto.getCarDescription().getModel()}"/></li>
                                                    <li><i class="fa fa-check"></i> <b>Body Color:</b> <span th:text="${carDto.getCarDescription().getBodyColor()}"/></li>
                                                    <li><i class="fa fa-check"></i> <b>Body:</b> <span th:text="${carDto.getCarDescription().getBody()}"/></li>
                                                    <li><i class="fa fa-check"></i> <b>License Plate:</b> <span th:text="${carDto.getCarDescription().getLicensePlate()}"/></li>
                                                    <li><i class="fa fa-check"></i> <b>Fuel Type:</b> <span th:text="${carDto.getCarDescription().getFuelType()}"/></li>
                                                    <li><i class="fa fa-check"></i> <b>Transmission:</b><span th:text="${carDto.getCarDescription().getTransmission()}"/></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="car__details__tab__info__item">
                                                <ul>
                                                    <li><i class="fa fa-check"></i> <b>First Registration:</b> <span th:text="${carDto.getCarDescription().getFirstRegistration()}"/></li>
                                                    <li><i class="fa fa-check"></i> <b>Seats:</b> <span th:text="${carDto.getCarDescription().getSeats()}"/></li>
                                                    <li><i class="fa fa-check"></i> <b>Power:</b> <span th:text="${carDto.getCarDescription().getPower()}"/></li>
                                                    <li><i class="fa fa-check"></i> <b>Engine Capacity:</b> <span th:text="${carDto.getCarDescription().getEngineCapacity()}"/></li>
                                                    <li><i class="fa fa-check"></i> <b>CO2 Emission:</b> <span th:text="${carDto.getCarDescription().getCo2Emission()}"/></li>
                                                    <li><i class="fa fa-check"></i> <b>Kms Driven:</b> <span th:text="${carDto.getCarDescription().getKmsDriven()}"/></li>
                                                    <li><i class="fa fa-check"></i> <b>Others:</b> <span th:text="${carDto.getCarDescription().getOthers()}"/></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="car__details__sidebar">
                        <div class="car__details__sidebar__model">
                            <ul>
                                <li>Brand <span th:text="${carDto.getCarDescription().getMake()}"/></li>
                                <li>Model <span th:text="${carDto.getCarDescription().getModel()}"/></li >
                            </ul>
                            <a href="#" class="primary-btn">Get Today Is Price</a>
<!--                            <p>Pricing in <span th:text="${carDto.getPost().getPostDate()}"/></p>-->
                        </div>
                        <div class="car__details__sidebar__payment">
                            <ul>

                                <li>Price $<span th:text="${carDto.getPrice()}"/></li>
                            </ul>
                            <a href="#" class="primary-btn"><i class="fa fa-credit-card"></i> Tax Calculator</a>
                            <a href="#" class="primary-btn sidebar-btn"><i class="fa fa-sliders"></i> Build
                                Payment</a>
                            <a href="#" class="primary-btn sidebar-btn"><i class="fa fa-money"></i> Value Trade</a>
                            <button id="show-booking" class="primary-btn sidebar-btn" style="width: 100%;"><i class="fa fa-calendar" ></i>
                                Book Meeting</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- Car Details Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer set-bg" data-setbg="../../user_assets/img/footer-bg.jpg">
        <div class="container">
            <div class="footer__contact">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__contact__title">
                            <h2>Contact Us Now!</h2>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__contact__option">
                            <div class="option__item"><i class="fa fa-phone"></i> (+12) 345 678 910</div>
                            <div class="option__item email"><i class="fa fa-envelope-o"></i> Colorlib@gmail.com
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="/"><img src="../../user_assets/img/white-car-logo.png"width="100"></a>
                            <p class="logo-text ms-2 d-none d-sm-block" style="  margin: 0px 0 15px 8px;">Timeless Ride</p>
                        </div>
                        <p>Any questions? Let us know in store at 625 Gloria Union, California, United Stated or
                            call us
                            on (+1) 96 123 8888</p>
                        <div class="footer__social">
                            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="google"><i class="fa fa-google"></i></a>
                            <a href="#" class="skype"><i class="fa fa-skype"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3">
                    <div class="footer__widget">
                        <h5>Infomation</h5>
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Purchase</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Payemnt</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Shipping</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Return</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3">
                    <div class="footer__widget">
                        <h5>Infomation</h5>
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Hatchback</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Sedan</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> SUV</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Crossover</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer__brand">
                        <h5>Top Brand</h5>
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Abarth</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Acura</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Alfa Romeo</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Audi</a></li>
                        </ul>
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-right"></i> BMW</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Chevrolet</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Ferrari</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Honda</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            <div class="footer__copyright__text">
                <p>Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template
                    is
                    made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com"
                                                                                   target="_blank">Colorlib</a>
                </p>
            </div>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
</div>
<!-- Search End -->
<!-- Start pop up form -->
<div class="pop-up">
    <form action="/car/bookmeeting">
        <div role="main" class="form-all" style="background: white;">
            <h2 id="header_23" class="form-header" data-component="header">BOOK YOUR SESSION</h2>
            <div class="esc-button">&times;</div>
            <ul>
                <li class="form-line">
                    <label class="form-label form-label-top" for="appointment">
                        Select an Appointment Date
                    </label>
                    <div class="row">
                        <div class="calendar col-sm-12 col-md-6">
                            <div class="month">
                                <i class="fas fa-angle-left prev"></i>
                                <div class="date">
                                    <h1></h1>
                                    <p></p>
                                </div>
                                <i class="fas fa-angle-right next"></i>
                            </div>
                            <div class="weekdays">
                                <div>Sun</div>
                                <div>Mon</div>
                                <div>Tue</div>
                                <div>Wed</div>
                                <div>Thu</div>
                                <div>Fri</div>
                                <div>Sat</div>
                            </div>
                            <div class="days"></div>
                        </div>
                        <div class="slots col-sm-12 col-md-5" id="slots">

                        </div>
                    </div>
                </li>
                <li class="form-line">
                    <label class="form-label form-label-top" for="phone-number">
                        Phone Number
                    </label>
                    <input type="text" id="phone-number"  name="phone">
                </li>
                <li class="form-line">
                    <label class="form-label form-label-top" for="other">
                        Other
                    </label>
                    <textarea type="text" id="other" name="description"></textarea>
                </li>
                <input type="hidden" name="carId" th:value="${carDto.getId()}">
                <li class="form-line">
                    <input type="submit" value="Submit">
                </li>
                <li style="display:none">Should be Empty: <input type="text" name="website" value="" /></li>
            </ul>
        </div>
    </form>
</div>
<div class="modal_item s_modal show" th:if="${status == 'success'}">
    <div class="close close_btn">
        <ion-icon name="close"></ion-icon>
    </div>
    <div class="modal_body"  style="background-color: whitesmoke">
        <div class="s_icon">
            <ion-icon name="checkmark"></ion-icon>
        </div>
        <div class="s_text">
            <h2>SUCCESS</h2>
            <p th:text="${loginMess}"></p>
        </div>
    </div>
    <div class="s_button">
        <button class="success_btn">Continue</button>
    </div>
</div>

<div class="modal_item e_modal show"  th:if="${status == 'fail'}">
    <div class="close close_btn">
        <ion-icon name="close" th:onclick="fade()"></ion-icon>
    </div>
    <div class="modal_body" style="background-color:whitesmoke">
        <div class="s_icon">
            <ion-icon name="help"></ion-icon>
        </div>
        <div class="s_text">
            <h2>ERROR</h2>
            <p th:text="${loginMess}"></p>
        </div>
    </div>
    <div class="s_button">
        <button class="error_btn">Continue</button>
    </div>
</div>
<!-- End pop up form -->
<!-- Js Plugins -->
<script src="../../user_assets/js/jquery-3.3.1.min.js"></script>
<script src="../../user_assets/js/bootstrap.min.js"></script>
<script src="../../user_assets/js/jquery.nice-select.min.js"></script>
<script src="../../user_assets/js/jquery-ui.min.js"></script>
<script src="../../user_assets/js/jquery.magnific-popup.min.js"></script>
<script src="../../user_assets/js/mixitup.min.js"></script>
<script src="../../user_assets/js/jquery.slicknav.js"></script>
<script src="../../user_assets/js/owl.carousel.min.js"></script>
<script src="../../user_assets/js/splide.min.js"></script>
<script src="../../user_assets/js/main.js"></script>
<script src="../../user_assets/js/booking-show.js"></script>
<script src="../../user_assets/js/calendar-script.js"></script>
<script>
    // Get the close icon element
    const closeIcon = document.querySelector('.close_btn ion-icon');

    // Get the modal element
    const modal = document.querySelector('.modal_item');

    // Add event listener to the close icon
    closeIcon.addEventListener('click', () => {
        // Hide the modal
        modal.style.display = 'none';
    });

</script>
</body>

</html>