<!DOCTYPE html>
<html lang="zxx" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="HVAC Template">
    <meta name="keywords" content="HVAC, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Car Inventory</title>
    <link rel="icon" href="../../user_assets/img/logo.png" type="image/png"/>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../../user_assets/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../../user_assets/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../../user_assets/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../../user_assets/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../../user_assets/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="../../user_assets/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="../../user_assets/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../../user_assets/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../../user_assets/css/style.css" type="text/css">
    <!--    notification css-->
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="../../user_assets/css/notification-style.css" />
    <th:block th:if="${session.client != null}">
        <script>let id = '[[${session.client.getId()}]]'</script>
    </th:block>
    <script src="../../user_assets/js/notification-js.js"></script>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!--    notification starts-->
    <div th:if="${session.client != null}" class="header_notification_warp d-flex align-items-center justify-content-center" style="z-index: 3; position: absolute; right: 2rem;">
        <li>
            <a class="bell_notification_clicker" href="#">
                <div class="fa fa-bell"></div>
            </a>

            <div class="Menu_NOtification_Wrap">
                <div class="notification_Header">
                    <h4>Notifications</h4>
                </div>
                <div class="Notification_body">
                </div>
                <div class="nofity_footer">
                    <div class="submit_button text-center pt_20" id="see-more">
                        <a href="#!" class="btn_1">See More</a>
                    </div>
                </div>
            </div>
        </li>
    </div>
    <!--    notification ends-->

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__widget">
            <a href="#"><i class="fa fa-cart-plus"></i></a>
            <a href="#" class="search-switch"><i class="fa fa-search"></i></a>
            <a href="#" class="primary-btn">Add Car</a>
        </div>
        <div class="offcanvas__logo">
            <a href="/"><img src="../../user_assets/img/logo.png" alt=""></a>
            <p class="logo-text ms-2 d-none d-sm-block" >Timeless Ride</p>
        </div>
        <div id="mobile-menu-wrap"></div>
        <ul class="offcanvas__widget__add">
            <li><i class="fa fa-clock-o"></i> Week day: 08:00 am to 18:00 pm</li>
            <li><i class="fa fa-envelope-o"></i> Info.colorlib@gmail.com</li>
        </ul>
        <div class="offcanvas__phone__num">
            <i class="fa fa-phone"></i>
            <span>(+12) 345 678 910</span>
        </div>
        <div class="offcanvas__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-google"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="/"><img src="../../user_assets/img/logo.png" alt=""></a>
                        <p class="logo-text ms-2 d-none d-sm-block">Timeless Ride</p>

                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="header__nav">
                        <nav class="header__menu" style="width: 100%;">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li class="active"><a href="/car">Car Inventory</a></li>
                                <li><a href="/account">Account</a></li>
                                <li><a href="#">History</a>
                                    <ul class="dropdown">
                                        <li><a href="/transactions_history">Transactions History</a></li>
                                        <li><a href="/meeting_history">Meeting History</a></li>
                                        <li ><a href="/post-history">My Post</a></li>
                                    </ul>
                                </li>
                                <li><a href="/post_car">Post Car</a></li>
                                <li><a href="/customer_service">Customer Service</a></li>
                                <li th:if="${session.client != null}">
                                    <a href="/log-out">Log out</a>
                                </li>
                                <li th:if="${session.client == null}">
                                    <a href="/signin">Login</a>
                                </li>

                            </ul>
                        </nav>

                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <span class="fa fa-bars"></span>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Breadcrumb End -->
    <div class="breadcrumb-option set-bg" data-setbg="../../user_assets/img/breadcrumb-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Car Listing</h2>
                        <div class="breadcrumb__links">
                            <a href="/"><i class="fa fa-home"></i> Home</a>
                            <span>Car Inventory</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Begin -->

    <!-- Car Section Begin -->
    <section class="car spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="car__sidebar">
                        <div class="car__search">
                            <h5>Car Search</h5>
                            <form action="/car/search">
                                <input type="text" placeholder="Search..." name="searchKW">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                        <div class="car__filter">
                            <h5>Car Filter</h5>
                            <form action="/search-cars-by-price" >
                                <select class="mySelect" onchange="handleSelectChange(this)">
                                    <option data-display="Brand">Select Brand</option>
                                    <div th:each="x:${session.makeList}">
                                        <option th:value="'searchBy-make-'+${x}" th:text="${x}"></option>
                                    </div>
                                </select>
                                <select class="mySelect" onchange="handleSelectChange(this)">
                                    <option data-display="Model">Select Model</option>
                                    <div th:each="x:${session.modelList}">
                                        <option th:value="'searhBy-model-'+${x}" th:text="${x}"></option>
                                    </div>
                                </select>
                                <select class="mySelect" onchange="handleSelectChange(this)">
                                    <option data-display="Bodystyle">Select Body Style</option>
                                    <div th:each="x:${session.bodyList}">
                                        <option th:value="'searhBy-body-'+${x}" th:text="${x}"></option>
                                    </div>
                                </select>
                                <select class="mySelect" onchange="handleSelectChange(this)">
                                    <option data-display="Tranmission">Select Tranmission</option>
                                    <div th:each="x:${session.tranmissionList}">
                                        <option th:value="'searhBy-tranmision-'+${x}" th:text="${x}"></option>
                                    </div>
                                </select>
                                <select class="mySelect" onchange="handleSelectChange(this)">
                                    <option data-display="Fuel Style">Select Fuel Style</option>
                                    <div th:each="x:${session.fuelList}">
                                        <option th:value="'searhBy-fuel-'+${x}" th:text="${x}"></option>
                                    </div>
                                </select>


                                <div class="filter-price">
                                    <p>Price:</p>
                                    <div class="price-range-wrap">
                                        <div class="filter-price-range"></div>
                                        <div class="range-slider">
                                            <div class="price-input">
                                                <input type="text" id="filterAmount" name="filterAmount">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="car__filter__btn">
                                    <button type="submit" class="site-btn">Search by price</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="car__filter__option">
                        <div class="row">

                            <div class="col-lg-8 col-md-8">
                                <div class="car__filter__option__item car__filter__option__item--right">
                                    <h6>Sort By
                                        <a th:href="@{/car/sorted-asc (property = ${property}, value = ${value})} " th:text="ASC" />
<!--                                        <a href="#" th:text="asc" />-->
                                        |
                                        <a th:href="@{/car/sorted-desc (property = ${property}, value = ${value})}" th:text="DESC" />
<!--                                        <a href="#" th:text="desc" />-->
                                    </h6>

                                </div>
                            </div>
                        </div>
                    </div>
<!--                    insert car here-->
                    <div class="row">
                        <div class="col-lg-4 col-md-4" th:each="post :${postDto}">

                            <div class="car__item" >
                                <div class="car__item__pic__slider owl-carousel" >
<!--                                    <div th:if="${post.getCar() != null}" th:each="image,i : ${post.getCar().getCarImageList()}">-->
<!--                                        &lt;!&ndash; Access the image at the current index &ndash;&gt;-->
<!--                                        <img th:if="${i.count < 5} "th:src="${car.getCarImageList().get(i).getId()}" alt="">-->

<!--                                    </div>-->
                                        <img th:src="${carImageUrl.getContent()}"  th:each="carImageUrl: ${post.getCar().getCarImageList()}">
<!--                                    <img  src="../../user_assets/img/cars/car-1.jpg" alt="">-->
<!--                                    <img  src="../../user_assets/img/cars/car-8.jpg" alt="">-->
<!--                                    <img  src="../../user_assets/img/cars/car-6.jpg" alt="">-->
<!--                                    <img  src="../../user_assets/img/cars/car-3.jpg" alt="">-->

                                </div>

                                <div class="car__item__text">
                                    <div class="car__item__text__inner">
                                        <div class="label-date" th:text="${post.getCar().getCarDescription().getFirstRegistration()}"/>
                                        <h5><a th:href="'/car-detail/'+${post.getCar().getId()}" th:text="${post.getCar().getName()}+' '+${post.getCar().getCarDescription().getModel()}"></a></h5>
                                        <ul>
                                            <li><span th:text="${post.getCar().getCarDescription().getMileage()}"/> mi</li>
                                            <li th:text="${post.getCar().getCarDescription().getTransmission()}"/>
                                            <li><span th:text="${post.getCar().getCarDescription().getPower()}"/> hp</li>
                                            <li><span th:text="${post.getPostDate()}"/></li>
                                        </ul>
                                    </div>
                                    <div class="car__item__price">
                                        <span class="car-option">For Sale</span>
                                        <h6 th:text=" ${post.getCar().getFormattedPrice()}"></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="pagination__option" th:if="${postDto.size() > 1}">
                        <ul th:with="url=(${property != null} ? '/admin/searchCarBy-' + ${property} + '-' + ${value} : '/car/sorted-'+${direction})">
<!--                            <p th:text="${property}"/>-->
<!--                            <p th:text="${direction}"/>-->

                           <a th:if="${offset > 1}" th:href="@{${url} (offset = 1, property = ${property}, value = ${value}, direction = ${direction})}" th:text="First"/>
                           <a th:if="${offset == 1}" href="#!" th:text="First"/>&laquo

                           <a th:if="${offset > 1}" th:href="@{${url} (offset = ${offset - 1}, property = ${property}, value = ${value}, direction = ${direction})}" th:text="Prev"/>
                           <a th:if="${offset == 1} ? 'disabled'" href="#!" th:text="Prev"/>

                             <a href="#" class="active" th:text="${offset}"></a>
                            <li th:if="${lastOffset >= offset + 1}"> <a th:text="${offset+1}" th:href="@{${url} (offset = ${offset + 1}, property = ${property}, value = ${value}, direction = ${direction})}" /></li>
                            <li th:if="${lastOffset >= offset + 2}"> <a th:text="${offset+2}" th:href="@{${url} (offset = ${offset + 2}, property = ${property}, value = ${value}, direction = ${direction})}" /></li>

                           <a th:if="${offset >= lastOffset}" href="#!" th:text="Next"/>
                           <a th:if="${offset < lastOffset}" th:href="@{${url} (offset = ${offset + 1}, property = ${property}, value = ${value}, direction = ${direction})}" th:text="Next"/>&raquo
                           <a th:if="${offset >= lastOffset}" href="#!" th:text="Last"/>
                           <a th:if="${offset < lastOffset}" th:href="@{${url} (offset = ${lastOffset}, property = ${property}, value = ${value}, direction = ${direction})}" th:text="Last"/>
                        </ul>
                    </div>
<!--                    <div class="pagination__option">-->
<!--                        <ul>-->

<!--                            // offset, properties, direction, field,value-->

<!--                            <li> <a th:text="first"/> </li>-->

<!--                            <li> <a th:text="previous"/> </li>-->

<!--                            <li> <a href="#" class="active" th:text="${offset}"/> </li>-->
<!--                            <li> <a th:text="${offset+1}"/> </li>-->
<!--                            <li> <a th:text="${offset+2}"/> </li>-->

<!--                            <li> <a th:text="next"/> </li>-->
<!--                            <li> <a th:text="last"/> </li>-->


<!--                        </ul>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- Car Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer set-bg" data-setbg="../../user_assets/img/footer-bg.jpg">
        <div class="container">
            <div class="footer__contact">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__contact__title">
                            <h2>Contact Us Now!</h2>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__contact__option">
                            <div class="option__item"><i class="fa fa-phone"></i> (+12) 345 678 910</div>
                            <div class="option__item email"><i class="fa fa-envelope-o"></i> Colorlib@gmail.com</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="/"><img src="../../user_assets/img/white-car-logo.png"width="100"></a>
                            <p class="logo-text ms-2 d-none d-sm-block" style="  margin: 0px 0 15px 8px;">Timeless Ride</p>
                        </div>


                        <div class="footer__social">
                            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="google"><i class="fa fa-google"></i></a>
                            <a href="#" class="skype"><i class="fa fa-skype"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3">
                    <div class="footer__widget">
                        <h5>Infomation</h5>
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Purchase</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Payemnt</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Shipping</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Return</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3">
                    <div class="footer__widget">
                        <h5>Infomation</h5>
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Hatchback</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Sedan</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> SUV</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Crossover</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer__brand">
                        <h5>Top Brand</h5>
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Abarth</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Acura</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Alfa Romeo</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Audi</a></li>
                        </ul>
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-right"></i> BMW</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Chevrolet</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Ferrari</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Honda</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            <div class="footer__copyright__text">
                <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
            </div>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="../../user_assets/js/jquery-3.3.1.min.js"></script>
    <script src="../../user_assets/js/bootstrap.min.js"></script>
    <script src="../../user_assets/js/jquery.nice-select.min.js"></script>
    <script src="../../user_assets/js/jquery-ui.min.js"></script>
    <script src="../../user_assets/js/jquery.magnific-popup.min.js"></script>
    <script src="../../user_assets/js/mixitup.min.js"></script>
    <script src="../../user_assets/js/jquery.slicknav.js"></script>
    <script src="../../user_assets/js/owl.carousel.min.js"></script>
    <script src="../../user_assets/js/main.js"></script>
    <script>
        function separateItems(string) {
            var items = string.split("-").map(item => item.trim());
            var [item1, item2, item3] = items;
            return [item1, item2, item3];
        }
        function handleSelectChange(selectElement) {
            var selectedValue = selectElement.value;
            var [item1, properties, value] = separateItems(selectedValue);
            var  linkToController = "/car/searchCarBy-"+properties+"-"+value+"";
            window.location.href=linkToController;

        }
    </script>
    <!-- notification js-->
    <script src="../../admin_assets/js/metisMenu.js"></script>
    <script src="../../admin_assets/js/custom.js"></script>
</body>

</html>