<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="HVAC Template">
    <meta name="keywords" content="HVAC, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TimeLess Drive</title>
    <link rel="icon" href="../../user_assets/img/logo.png" type="image/png"/>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../../user_assets/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../../user_assets/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../../user_assets/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../../user_assets/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../../user_assets/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="../../user_assets/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="../../user_assets/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../../user_assets/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../../user_assets/css/style.css" type="text/css">
    <!--    notification css-->
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="../../user_assets/css/notification-style.css" />
    <th:block th:if="${session.client != null}">
        <script>let id = '[[${session.client.getId()}]]'</script>
    </th:block>
    <script src="../../user_assets/js/notification-js.js"></script>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!--    notification starts-->
    <div th:if="${session.client != null}" class="header_notification_warp d-flex align-items-center justify-content-center" style="z-index: 3; position: absolute; right: 2rem;">
        <li>
            <a class="bell_notification_clicker" href="#">
                <div class="fa fa-bell"></div>
            </a>

            <div class="Menu_NOtification_Wrap">
                <div class="notification_Header">
                    <h4>Notifications</h4>
                </div>
                <div class="Notification_body">
                </div>
                <div class="nofity_footer">
                    <div class="submit_button text-center pt_20" id="see-more">
                        <a href="#!" class="btn_1">See More</a>
                    </div>
                </div>
            </div>
        </li>
    </div>
    <!--    notification ends-->

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">


        <div id="mobile-menu-wrap"></div>

    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="/"><img src="../../user_assets/img/logo.png" alt=""></a>
                        <p class="logo-text ms-2 d-none d-sm-block">Timeless Ride</p>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="header__nav">
                        <nav class="header__menu" style="width: 100%;">
                            <ul>
                                <li class="active"><a href="/">Home</a></li>
                                <li><a href="/car">Car Inventory</a></li>
                                <li ><a href="/account">Account</a></li>
                                <li><a href="#">History</a>
                                    <ul class="dropdown">
                                        <li ><a href="/transactions_history">Transactions History</a></li>
                                        <li ><a href="/meeting_history">Meeting History</a></li>
                                        <li ><a href="/post-history">My Post</a></li>
                                    </ul>
                                </li>
                                <li ><a href="/post_car">Post Car</a></li>
                                <li><a href="/customer_service">Customer Service</a></li>

                                <li th:if="${session.client != null}">
                                    <a href="/log-out">Log out</a>
                                </li>
                                <li th:if="${session.client == null}">
                                    <a href="/signin">Login</a>
                                </li>
                            </ul>
                        </nav>

                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <span class="fa fa-bars"></span>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero spad set-bg" data-setbg="../../user_assets/img/hero-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="hero__text">
                        <div class="hero__text__title">
                            <span>FIND YOUR DREAM CAR</span>
                            <h2>Porsche Cayenne S</h2>
                        </div>
                        <div class="hero__text__price">
                            <div class="car-model">Model 2019</div>
                            <h2>$20.000.000.000<span></span></h2>
                        </div>
                        <a href="#" class="primary-btn"><img src="../../user_assets/img/wheel.png" alt=""> Buy</a>
                        <a href="#" class="primary-btn more-btn">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Services Section Begin -->
    <section class="services spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Our Services</span>
                        <h2>What We Offers</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="services__item">
                        <img src="../../user_assets/img/services/services-1.png" alt="">
                        <h5>Car Posting</h5>
                        <p>Provide a service offer user to post their car with detail image and technical information.</p>
                        <a href="/post_car"><i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="services__item">
                        <img src="../../user_assets/img/services/services-2.png" alt="">
                        <h5>Car Buying</h5>
                        <p>Provide a service offer user to buy old car from multiple make and model.</p>
                        <a href="/car"><i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="services__item">
                        <img src="../../user_assets/img/services/services-4.png" alt="">
                        <h5>Support 24/7</h5>
                        <p>We are apprciated to received your feedback.</p>
                        <a href="/customer_service"><i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services Section End -->

    <!-- Feature Section Begin -->
    <section class="feature spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="feature__text">
                        <div class="section-title">
                            <span>Our Feature</span>
                            <h2>We Are a Trusted Name In Auto</h2>
                        </div>
                        <div class="feature__text__desc">
                            <p>Welcome to our old car showroom, where we bring timeless classics and vintage beauties to life.
                                With a passion for preserving automotive history, we curate a collection of meticulously restored cars ready to charm any enthusiast.

                            </p>
                            <p>Step into our showroom and experience the nostalgia, elegance, and undeniable charm of our handpicked selection of vintage automobiles.</p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 offset-lg-4">
                    <div class="row">
                        <div class="col-lg-6 col-md-4 col-6">
                            <div class="feature__item">
                                <div class="feature__item__icon">
                                    <img src="../../user_assets/img/feature/feature-1.png" alt="">
                                </div>
                                <h6>Engine</h6>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-4 col-6">
                            <div class="feature__item">
                                <div class="feature__item__icon">
                                    <img src="../../user_assets/img/feature/feature-2.png" alt="">
                                </div>
                                <h6>Turbo</h6>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-4 col-6">
                            <div class="feature__item">
                                <div class="feature__item__icon">
                                    <img src="../../user_assets/img/feature/feature-3.png" alt="">
                                </div>
                                <h6>Colling</h6>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-4 col-6">
                            <div class="feature__item">
                                <div class="feature__item__icon">
                                    <img src="../../user_assets/img/feature/feature-4.png" alt="">
                                </div>
                                <h6>Suspension</h6>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-4 col-6">
                            <div class="feature__item">
                                <div class="feature__item__icon">
                                    <img src="../../user_assets/img/feature/feature-5.png" alt="">
                                </div>
                                <h6>Electrical</h6>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-4 col-6">
                            <div class="feature__item">
                                <div class="feature__item__icon">
                                    <img src="../../user_assets/img/feature/feature-6.png" alt="">
                                </div>
                                <h6>Brakes</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Feature Section End -->

    <!-- Car Section Begin -->
    <section class="car spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Our Car</span>
                        <h2>Best Vehicle Offers</h2>
                    </div>
                    <ul class="filter__controls">
                        <li class="active" data-filter="*">Most Researched</li>
                        <li data-filter=".sale">Latest on sale</li>
                    </ul>
                </div>
            </div>
            <div class="row car-filter">
                <div class="col-lg-3 col-md-4 col-sm-6 mix" th:each="post : ${postList}">
                    <div class="car__item">
                        <div class="car__item__pic__slider owl-carousel">
                            <img th:each="image : ${post.getCar().getCarImageList()}" th:src="${image.getContent()}" alt="">
                        </div>
                        <div class="car__item__text">
                            <div class="car__item__text__inner">
                                <div class="label-date" th:text="${post.getCar().getCarDescription().getFirstRegistration()}"/>
                                <h5><a href="#" th:text="${post.getCar().getName()}"/></h5>
                                <ul>
                                    <li><span th:text="${post.getCar().getCarDescription().getMileage()}"/> mi</li>
                                    <li th:text="${post.getCar().getCarDescription().getTransmission()}"/>
                                    <li><span th:text="${post.getCar().getCarDescription().getPower()}"/></li>
                                </ul>
                            </div>
                            <div class="car__item__price">
                                <span class="car-option">For Rent</span>
                                <h6 th:text="${post.getCar().getFormattedPrice()}"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Car Section End -->

    <!-- Chooseus Section Begin -->
    <section class="chooseus spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="chooseus__text">
                        <div class="section-title">
                            <h2>Why People Choose Us</h2>
                            <p>
                                At our old car showroom, we prioritize the security and protection of our customers and their valuable encouragement.</p>
                        </div>
                        <ul>
                            <li><i class="fa fa-check-circle"></i>Exceptional Quality.</li>
                            <li><i class="fa fa-check-circle"></i>Extensive Selection.
                            </li>
                            <li><i class="fa fa-check-circle"></i>Customer Satisfaction.
                            </li>
                            <li><i class="fa fa-check-circle"></i>Confidentiality.</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <div class="chooseus__video set-bg">
            <img src="../../user_assets/img/chooseus-video.png" alt="">
            <a href="https://www.youtube.com/watch?v=Xd0Ok-MkqoE"
                class="play-btn video-popup"><i class="fa fa-play"></i></a>
        </div>
    </section>
    <!-- Chooseus Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer set-bg" data-setbg="../../user_assets/img/footer-bg.jpg">
        <div class="container">
            <div class="footer__contact">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__contact__title">
                            <h2>Contact Us Now!</h2>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__contact__option">
                            <div class="option__item"><i class="fa fa-phone"></i> (+84) 367 669 780</div>
                            <div class="option__item email"><i class="fa fa-envelope-o"></i> TimeLessRide@gmail.com</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="/"><img src="../../user_assets/img/white-car-logo.png"width="100"></a>
                            <p class="logo-text ms-2 d-none d-sm-block" style="  margin: 0px 0 15px 8px; font-weight:900; color: white;">Timeless Ride </p>
                        </div>
                        <p>Any questions? Contact with us</p>
                        <p>Email:TimeLessRide@gmail.com </p>
                        <p>Phone number: (+84) 367 669 780</p>
                        <div class="footer__social">
                            <a href="#" class="facebook"><i class="fa fa-facebook" style="color: white"></i></a>
                            <a href="#" class="twitter"><i class="fa fa-twitter" style="color: white"></i></a>
                            <a href="#" class="google"><i class="fa fa-google" style="color: white"></i></a>
                            <a href="#" class="skype"><i class="fa fa-skype" style="color: white"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3">
                    <div class="footer__widget">
                        <h5>Infomation</h5>
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Purchase</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Payemnt</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Shipping</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Return</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3">
                    <div class="footer__widget">
                        <h5>History</h5>
                        <ul>
                            <li><a href="/transactions_history"><i class="fa fa-angle-right"></i> Transaction History</a></li>
                            <li><a href="/meeting_history"><i class="fa fa-angle-right"></i> Meeting History</a></li>
                            <li><a href="/post-history"><i class="fa fa-angle-right"></i> My Posst</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-7">
                    <div class="footer__brand">
                        <h5>Team Member</h5>
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Nguyễn Hưng Hãi</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Nguyễn Thanh Duy</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Nguyễn Quốc Thái</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Đỗ Minh Trí</a></li>
                        </ul>

                    </div>
                </div>
            </div>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            <div class="footer__copyright__text">
                <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
            </div>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="../../user_assets/js/jquery-3.3.1.min.js"></script>
    <script src="../../user_assets/js/bootstrap.min.js"></script>
    <script src="../../user_assets/js/jquery.nice-select.min.js"></script>
    <script src="../../user_assets/js/jquery-ui.min.js"></script>
    <script src="../../user_assets/js/jquery.magnific-popup.min.js"></script>
    <script src="../../user_assets/js/mixitup.min.js"></script>
    <script src="../../user_assets/js/jquery.slicknav.js"></script>
    <script src="../../user_assets/js/owl.carousel.min.js"></script>
    <script src="../../user_assets/js/main.js"></script>
    <!-- notification js-->
    <script src="../../admin_assets/js/metisMenu.js"></script>
    <script src="../../admin_assets/js/custom.js"></script>
</body>

</html>