<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="HVAC Template">
    <meta name="keywords" content="HVAC, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Meeting History</title>
    <link rel="icon" href="../../user_assets/img/logo.png" type="image/png"/>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../../user_assets/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../../user_assets/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../../user_assets/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../../user_assets/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../../user_assets/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="../../user_assets/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="../../user_assets/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../../user_assets/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../../user_assets/css/style.css" type="text/css">
    <link rel="stylesheet" href="../../../../resources/static/user_assets/css/meeting-history.css" type="text/css">



    <!--    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css" rel="stylesheet">-->
    <link rel="stylesheet" href="../../user_assets/css/book-meeting.css">
    <link rel="stylesheet" href="../../user_assets/css/calendar-style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
          rel="stylesheet" />
    <!-- Libs CSS -->
    <link href="css/feather.css" rel="stylesheet">
    <link href="css/bootstrap-icons.css" rel="stylesheet" />
    <link href="css/materialdesignicons.min.css" rel="stylesheet" />
    <link href="css/simplebar.min.css" rel="stylesheet">
    <!-- Theme CSS -->
    <link rel="stylesheet" href="css/theme.min.css">
    <!--    notification css-->
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="../../user_assets/css/notification-style.css" />
    <th:block th:if="${session.client != null}">
        <script>let id = '[[${session.client.getId()}]]'</script>
    </th:block>
    <script src="../../user_assets/js/notification-js.js"></script>
    <link rel="stylesheet" href="../../user_assets/css/meetings-history.css">
</head>

<body style="padding: 0">
<div class="all-page">
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!--    notification starts-->
    <div th:if="${session.client != null}" class="header_notification_warp d-flex align-items-center justify-content-center" style="z-index: 3; position: absolute; right: 2rem;">
        <li>
            <a class="bell_notification_clicker" href="#">
                <div class="fa fa-bell" style="font-size: 3rem"></div>
            </a>

            <div class="Menu_NOtification_Wrap">
                <div class="notification_Header">
                    <h4>Notifications</h4>
                </div>
                <div class="Notification_body">
                </div>
                <div class="nofity_footer">
                    <div class="submit_button text-center pt_20" id="see-more">
                        <a href="#!" class="btn_1">See More</a>
                    </div>
                </div>
            </div>
        </li>
    </div>
    <!--    notification ends-->

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-wrapper">
        <div id="mobile-menu-wrap"></div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="/"><img src="../../user_assets/img/logo.png" alt=""></a>
                        <p class="logo-text ms-2 d-none d-sm-block">Timeless Ride</p>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="header__nav">
                        <nav class="header__menu" style="width: 100%">
                            <ul style="font-family: Lato">
                                <li><a href="/">Home</a></li>
                                <li><a href="/car">Car Inventory</a></li>
                                <li><a href="/account">Account</a></li>
                                <li class="active"><a href="#">History</a>
                                    <ul class="dropdown">
                                        <li><a href="/transactions_history">Transactions History</a></li>
                                        <li><a href="/meeting_history">Meeting History</a></li>
                                        <li ><a href="/post-history">My Post</a></li>
                                    </ul>
                                </li>
                                <li><a href="/post_car">Post Car</a></li>
                                <li><a href="/customer_service">Customer Service</a></li>
                                <li th:if="${session.client != null}">
                                    <a href="/log-out">Log out</a>
                                </li>
                                <li th:if="${session.client == null}">
                                    <a href="/signin">Login</a>
                                </li>

                            </ul>
                        </nav>

                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <span class="fa fa-bars"></span>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Breadcrumb End -->
    <div class="breadcrumb-option set-bg" data-setbg="../../user_assets/img/breadcrumb-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Meeting History</h2>
                        <div class="breadcrumb__links">
                            <a href="/"><i class="fa fa-home"></i> Home</a>
                            <span>Meeting History</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="meeting-history" style="width:100%;height:80vh; padding:0 100px;">

        <!-- code here -->

        <p th:if="${errorMsg != null}" th:text="${errorMsg}" class="text-danger fs-3 text-center"/>
        <p th:if="${successMsg != null}" th:text="${successMsg}" class="text-success fs-3 text-center"/>
        <h1 th:if="${meetingList.isEmpty()}" th:text="'You don\'t have any meetings'" class="fs-3 text-center"/>

        <table th:if="${!meetingList.isEmpty()}">
            <thead>
            <tr>
                <th>No.</th>
                <th>Meeting date</th>
                <th>Meeting time</th>
                <th>Staff name</th>
                <th>Car model</th>
                <th>Status</th>
                <th colspan="2" style="text-align: center">Actions</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="meeting, iStat : ${meetingList}">
                <tr>
                    <td th:text="${iStat.count}"/>
                    <td th:text="${meeting.getMeetingDate()}"/>
                    <td th:text="${meeting.getMeetingTime()}"/>
                    <td th:with="staffName=(${meeting.getStaff() == null} ? 'No participant' : ${meeting.getStaff().getName()})"
                        th:classappend="${staffName == 'No participant'} ? 'text-danger' : 'text-success'"
                        th:text="${staffName}"/>
                    <td th:text="${meeting.getCar().getName()}"/>
                    <td><span class="status pending" th:text="${meeting.getStatus()}"/></td>
                    <td>
                        <a th:if="${meeting.getStatus().equals('Pending')}" th:href="@{/meeting-history/cancel (id = ${meeting.getId()})}">
                            <button class="btn btn-secondary hover-text-600 fs--1">Cancel</button>
                        </a>
                    </td>
                    <td>
                        <button th:if="${meeting.getStatus().equals('Pending')}" th:id="${meeting.getId()}" class="show-booking btn btn-secondary hover-text-600 fs--1">Edit</button>
                    </td>
                </tr>
            </th:block>
            <!-- Add more rows for additional meeting history -->
            </tbody>
        </table>

    </section>


    <!-- Footer Section Begin -->
    <footer class="footer set-bg" data-setbg="../../user_assets/img/footer-bg.jpg">
        <div class="container">
            <div class="footer__contact">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__contact__title">
                            <h2>Contact Us Now!</h2>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__contact__option">
                            <div class="option__item"><i class="fa fa-phone"></i> (+12) 345 678 910</div>
                            <div class="option__item email"><i class="fa fa-envelope-o"></i> Colorlib@gmail.com</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="/"><img src="../../user_assets/img/white-car-logo.png" width="100"></a>
                            <p class="logo-text ms-2 d-none d-sm-block" style="  margin: 0px 0 15px 8px;">Timeless
                                Ride</p>
                        </div>
                        <p>Any questions? Let us know in store at 625 Gloria Union, California, United Stated or call us
                            on (+1) 96 123 8888</p>
                        <div class="footer__social">
                            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="google"><i class="fa fa-google"></i></a>
                            <a href="#" class="skype"><i class="fa fa-skype"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3">
                    <div class="footer__widget">
                        <h5>Infomation</h5>
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Purchase</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Payment</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Shipping</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Return</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3">
                    <div class="footer__widget">
                        <h5>History</h5>
                        <ul>
                            <li><a href="/transactions_history"><i class="fa fa-angle-right"></i> Transaction History</a></li>
                            <li><a href="/meeting_history"><i class="fa fa-angle-right"></i> Meeting History</a></li>
                            <li><a href="/post-history"><i class="fa fa-angle-right"></i> My Posst</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer__brand">
                        <h5>Team Member</h5>
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Nguyễn Hưng Hãi</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Nguyễn Thanh Duy</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Nguyễn Quốc Thái</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Đỗ Minh Trí</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            <div class="footer__copyright__text">
                <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                    All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by

            </div>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
</div>

<div class="pop-up">
    <form action="/meeting-history/edit" method="post">
        <div role="main" class="form-all" style="background: white;">
            <h2 id="header_23" class="form-header" data-component="header">BOOK YOUR SESSION</h2>
            <div class="esc-button">&times;</div>
            <ul>
                <li class="form-line">
                    <label class="form-label form-label-top">
                        Select an Appointment Date
                    </label>
                    <div class="row">
                        <div class="calendar col-sm-12 col-md-6">
                            <div class="month">
                                <i class="fas fa-angle-left prev"></i>
                                <div class="date">
                                    <h1></h1>
                                    <p></p>
                                </div>
                                <i class="fas fa-angle-right next"></i>
                            </div>
                            <div class="weekdays">
                                <div>Sun</div>
                                <div>Mon</div>
                                <div>Tue</div>
                                <div>Wed</div>
                                <div>Thu</div>
                                <div>Fri</div>
                                <div>Sat</div>
                            </div>
                            <div class="days"></div>
                        </div>
                        <div class="slots col-sm-12 col-md-5" id="slots">
                        </div>
                    </div>
                </li>
                <li class="form-line">
                    <label class="form-label form-label-top" for="phone-number">
                        Phone Number
                    </label>
                    <input type="text" id="phone-number"  name="phone">
                </li>
                <li class="form-line">
                    <label class="form-label form-label-top" for="other">
                        Other
                    </label>
                    <textarea type="text" id="other" name="description"></textarea>
                </li>
                <input type="hidden" name="offMeetingId" id="offMeetingId">
                <li class="form-line">
                    <input type="submit" value="Submit">
                </li>
                <li style="display:none">Should be Empty: <input type="text" name="website" value="" /></li>
            </ul>
        </div>
    </form>
</div>


<!-- Search End -->

<!-- Js Plugins -->
<script src="../../user_assets/js/jquery-3.3.1.min.js"></script>
<script src="../../user_assets/js/bootstrap.min.js"></script>
<script src="../../user_assets/js/jquery.nice-select.min.js"></script>
<script src="../../user_assets/js/jquery-ui.min.js"></script>
<script src="../../user_assets/js/jquery.magnific-popup.min.js"></script>
<script src="../../user_assets/js/mixitup.min.js"></script>
<script src="../../user_assets/js/jquery.slicknav.js"></script>
<script src="../../user_assets/js/owl.carousel.min.js"></script>
<script src="../../user_assets/js/main.js"></script>
<script>
    let popUpActivateButtons =  document.querySelectorAll(".show-booking");

    popUpActivateButtons.forEach((button) => {
        button.addEventListener("click",function(){
            document.querySelector(".pop-up").className="pop-up-active";
            document.querySelector(".all-page").classList.add("blur");
            document.querySelector("#offMeetingId").value = button.id;
        });
    })

    let escButtons = document.querySelectorAll(".pop-up .esc-button");

    escButtons.forEach((button) =>{
        button.addEventListener("click",function(){
            document.querySelector(".pop-up-active").className="pop-up";
            document.querySelector(".all-page").classList.remove("blur");
        });
    });
</script>
<script src="../../user_assets/js/calendar-script.js"></script>

    <!-- Js Plugins -->
    <script src="../../user_assets/js/jquery-3.3.1.min.js"></script>
    <script src="../../user_assets/js/bootstrap.min.js"></script>
    <script src="../../user_assets/js/jquery.nice-select.min.js"></script>
    <script src="../../user_assets/js/jquery-ui.min.js"></script>
    <script src="../../user_assets/js/jquery.magnific-popup.min.js"></script>
    <script src="../../user_assets/js/mixitup.min.js"></script>
    <script src="../../user_assets/js/jquery.slicknav.js"></script>
    <script src="../../user_assets/js/owl.carousel.min.js"></script>
    <script src="../../user_assets/js/main.js"></script>
    <!-- notification js-->
    <script src="../../admin_assets/js/metisMenu.js"></script>
    <script src="../../admin_assets/js/custom.js"></script>
</body>

</html>