<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="HVAC Template">
    <meta name="keywords" content="HVAC, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Car Posting</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../../user_assets/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../../user_assets/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../../user_assets/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../../user_assets/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../../user_assets/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="../../user_assets/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="../../user_assets/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../../user_assets/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../../user_assets/css/style.css" type="text/css">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../user_assets/css/post-car-style.css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__widget">
            <a href="#"><i class="fa fa-cart-plus"></i></a>
            <a href="#" class="search-switch"><i class="fa fa-search"></i></a>
            <a href="#" class="primary-btn">Add Car</a>
        </div>
        <div class="offcanvas__logo">
            <a href="./index.html"><img src="../../user_assets/img/logo.png" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <ul class="offcanvas__widget__add">
            <li><i class="fa fa-clock-o"></i> Week day: 08:00 am to 18:00 pm</li>
            <li><i class="fa fa-envelope-o"></i> Info.colorlib@gmail.com</li>
        </ul>
        <div class="offcanvas__phone__num">
            <i class="fa fa-phone"></i>
            <span>(+12) 345 678 910</span>
        </div>
        <div class="offcanvas__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-google"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <ul class="header__top__widget">
                            <li><i class="fa fa-clock-o"></i> Week day: 08:00 am to 18:00 pm</li>
                            <li><i class="fa fa-envelope-o"></i> Info.colorlib@gmail.com</li>
                        </ul>
                    </div>
                    <div class="col-lg-5">
                        <div class="header__top__right">
                            <div class="header__top__phone">
                                <i class="fa fa-phone"></i>
                                <span>(+12) 345 678 910</span>
                            </div>
                            <div class="header__top__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="/"><img src="../../user_assets/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="header__nav">
                        <nav class="header__menu">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/car">Car Inventory</a></li>
                                <li><a href="/account">Account</a></li>
                                <li><a href="#">History</a>
                                    <ul class="dropdown">
                                        <li><a href="/transactions_history">Transactions History</a></li>
                                        <li><a href="/meeting_history">Meeting History</a></li>
                                    </ul>
                                </li>
                                <li class="active"><a href="/post_car">Post Car</a></li>
                                <li><a href="/customer_service">Customer Service</a></li>
                                <li th:if="${session.client != null}">
                                    <a href="/log-out">Log out</a>
                                </li>
                                <li th:if="${session.client == null}">
                                    <a href="/signin">Login</a>
                                </li>

                            </ul>
                        </nav>

                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <span class="fa fa-bars"></span>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Breadcrumb End -->
    <div class="breadcrumb-option set-bg" data-setbg="../../user_assets/img/breadcrumb-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Post Car</h2>
                        <div class="breadcrumb__links">
                            <a href="/"><i class="fa fa-home"></i> Home</a>
                            <span>Post Car</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form action="" id="myForm">
        <ul class="container main-container">
            <li class="row header main-header">
                <h1>Car Show Entry Form</h1>
                <p>Easily register your car for the show using</p>
            </li>
            <li class="row">
                <ul class="container">
                    <li class="row header">
                        <h3>Car attributes:</h3>
                        <p>Please fill in the required fields (indicated by *).</p>
                    </li>
                    <li class="row">
                        <h4>Model</h4>
                        <div class="make col-sm-12 col-md-6">
                            <input type="text" id="make">
                            <label for="make">Make</label>
                        </div>
                        <div class="model col-sm-12 col-md-6">
                            <input type="text" id="model">
                            <label for="model">Model</label>
                        </div>
                    </li>
                    <li class="row">
                        <h4>Color</h4>
                        <div class="body-color col-sm-12 col-md-6">
                            <input type="text" id="body-color">
                            <label for="body-color">Body Color</label>
                        </div>
                        <div class="interior-color col-sm-12 col-md-6">
                            <input type="text" id="interior-color">
                            <label for="interior-color">Interior color</label>
                        </div>
                    </li>
                    <li class="row">
                        <div class="col-sm-12 col-md-6">
                            <h4>Interior Material</h4>
                            <div class="interior-material">
                                <input type="text" id="interior-material">
                                <label for="interior-material">Interior Material</label>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <h4>Body</h4>
                            <div class="body">
                                <input type="text" id="body">
                                <label for="body">Body</label>
                            </div>
                        </div>
                    </li>
                    <li class="row">
                        <h4>License Plate</h4>
                        <div class="license-plate">
                            <input type="text" id="license-plate" placeholder="ex: 12F-123.456">
                            <label for="license-plate"></label>
                        </div>
                    </li>
                    <li class="row">
                        <h4>Transmission</h4>
                        <div class="transmission">
                            <input type="text" id="transmission" placeholder="ex: Automatic Transmission">
                            <label for="transmission"></label>
                        </div>
                    </li>
                    <li class="row">
                        <div class="col-sm-12 col-md-6">
                            <h4>Seats</h4>
                            <div class="seats">
                                <input type="number" id="seats"
                                       onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                       min="2"
                                       max="11"
                                       placeholder="ex: 8">
                                <label for="seats"></label>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                        <div class="col-sm-12 col-md-6">
                            <h4>Kms Driven</h4>
                            <div class="kms-driven">
                                <input type="number" id="kms-driven"
                                       onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                       placeholder="ex: 15000">
                                <label for="kms-driven"></label>
                            </div>
                        </div>
                    </li>
                    <li class="row">
                        <div class="col-sm-12 col-md-6">
                            <h4>Engine Capacity</h4>
                            <div class="engine-capacity">
                                <input type="number" id="engine-capacity"
                                       onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                       placeholder="ex: 1498">
                                <label for="engine-capacity">Calculation Unit: cc</label>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <h4>Power</h4>
                            <div class="power">
                                <input type="number" id="power" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                       maxlength="2"
                                       placeholder="ex: 200">
                                <label for="power">Calculation Unit: hp</label>
                            </div>
                        </div>
                    </li>
                    <li class="row">
                        <h4>CO2 Emission</h4>
                        <div class="co2-emission">
                            <input type="text" id="co2-emission"
                                   placeholder="ex: 20">
                            <label for="co2-emission"></label>
                        </div>
                    </li>
                    <li class="row">
                        <h4>Fuel Type</h4>
                        <div class="fuel-type">
                            <input type="text" id="fuel-type" placeholder="ex: Gasoline">
                            <label for="fuel-type"></label>
                        </div>
                    </li>
                    <li class="row">
                        <h4>First Registration</h4>
                        <div class="first-registration">
                            <input type="month" id="first-registration" pattern="[0-9]{2}/[0-9]{4}">
                            <label for="first-registration">First Registration(MM/yyyy)</label>
                        </div>
                    </li>
                    <li class="row">
                        <h4>Upload images of the car from all sides :</h4>
                        <div class="car-images">
                            <input type="file" id="car-image"
                                   onchange="previewImages();" multiple
                                   accept="image/png, image/gif, image/jpeg">
                            <div id="images">

                            </div>
                            <label for="car-image">To select multiple files, hold down the CTRL or SHIFT key while
                                selecting.</label>
                        </div>
                    </li>
                    <li class="row">
                        <h4>Any questions</h4>
                        <div class="questions">
                            <textarea id="questions"></textarea>
                            <label for="questions"></label>
                        </div>

                    </li>
                    <li class="row">
                        <input type="submit" value="Submit">
                    </li>
                </ul>
            </li>
        </ul>

    </form>

    <!-- Footer Section Begin -->
    <footer class="footer set-bg" data-setbg="../../user_assets/img/footer-bg.jpg">
        <div class="container">
            <div class="footer__contact">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__contact__title">
                            <h2>Contact Us Now!</h2>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__contact__option">
                            <div class="option__item"><i class="fa fa-phone"></i> (+12) 345 678 910</div>
                            <div class="option__item email"><i class="fa fa-envelope-o"></i> Colorlib@gmail.com</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="../../user_assets/img/footer-logo.png" alt=""></a>
                        </div>
                        <p>Any questions? Let us know in store at 625 Gloria Union, California, United Stated or call us
                            on (+1) 96 123 8888</p>
                        <div class="footer__social">
                            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="google"><i class="fa fa-google"></i></a>
                            <a href="#" class="skype"><i class="fa fa-skype"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3">
                    <div class="footer__widget">
                        <h5>Information</h5>
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Purchase</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Payment</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Shipping</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Return</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3">
                    <div class="footer__widget">
                        <h5>Information</h5>
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Hatchback</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Sedan</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> SUV</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Crossover</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer__brand">
                        <h5>Top Brand</h5>
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Abarth</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Acura</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Alfa Romeo</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Audi</a></li>
                        </ul>
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-right"></i> BMW</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Chevrolet</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Ferrari</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Honda</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            <div class="footer__copyright__text">
                <p>Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is
                    made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com"
                        target="_blank">Colorlib</a>
                </p>
            </div>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="../../user_assets/js/jquery-3.3.1.min.js"></script>
    <script src="../../user_assets/js/bootstrap.min.js"></script>
    <script src="../../user_assets/js/jquery.nice-select.min.js"></script>
    <script src="../../user_assets/js/jquery-ui.min.js"></script>
    <script src="../../user_assets/js/jquery.magnific-popup.min.js"></script>
    <script src="../../user_assets/js/mixitup.min.js"></script>
    <script src="../../user_assets/js/jquery.slicknav.js"></script>
    <script src="../../user_assets/js/owl.carousel.min.js"></script>
    <script src="../../user_assets/js/main.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="../../user_assets/js/post-car-script.js"></script>
</body>

</html>