<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="HVAC Template">
    <meta name="keywords" content="HVAC, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Car Posting</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../../user_assets/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../../user_assets/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../../user_assets/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../../user_assets/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../../user_assets/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="../../user_assets/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="../../user_assets/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../../user_assets/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../../user_assets/css/style.css" type="text/css">

    <link rel="alternate" type="application/json+oembed"
        href="https://www.jotform.com/oembed/?format=json&amp;url=https%3A%2F%2Fform.jotform.com%2F231444402555450"
        title="oEmbed Form">
    <link rel="alternate" type="text/xml+oembed"
        href="https://www.jotform.com/oembed/?format=xml&amp;url=https%3A%2F%2Fform.jotform.com%2F231444402555450"
        title="oEmbed Form">
        <link rel="canonical" href="https://form.jotform.com/231444402555450" />
    <link type="text/css" rel="stylesheet"
        href="https://cdn01.jotfor.ms/themes/CSS/5e6b428acc8c4e222d1beb91.css?v=3.3.42150&themeRevisionID=5eb3b4ae85bd2e1e2966db96" />
    <link type="text/css" rel="stylesheet"
        href="https://cdn02.jotfor.ms/css/styles/payment/payment_styles.css?3.3.42150" />
    <link type="text/css" rel="stylesheet"
        href="https://cdn03.jotfor.ms/css/styles/payment/payment_feature.css?3.3.42150" />
    <script src="https://cdn01.jotfor.ms/static/prototype.forms.js?3.3.42150" type="text/javascript"></script>
    <script src="https://cdn02.jotfor.ms/static/jotform.forms.js?3.3.42150" type="text/javascript"></script>
    <script src="https://cdn03.jotfor.ms/js/vendor/jquery-1.8.0.min.js?v=3.3.42150" type="text/javascript"></script>
    <script defer src="https://cdn01.jotfor.ms/js/vendor/maskedinput.min.js?v=3.3.42150"
        type="text/javascript"></script>
    <script defer src="https://cdn02.jotfor.ms/js/vendor/jquery.maskedinput.min.js?v=3.3.42150"
        type="text/javascript"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/punycode/1.4.1/punycode.js"></script>
    <script src="https://cdn03.jotfor.ms/js/vendor/imageinfo.js?v=3.3.42150" type="text/javascript"></script>
    <script src="https://cdn01.jotfor.ms/file-uploader/fileuploader.js?v=3.3.42150"></script>
    <script src="https://cdn02.jotfor.ms/js/payments/validategateways.js?v=3.3.42150" type="text/javascript"></script>
    <script src="../../user_assets/js/post-script.js"></script>
    <link rel="stylesheet" href="../../user_assets/css/post-style.css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__widget">
            <a href="#"><i class="fa fa-cart-plus"></i></a>
            <a href="#" class="search-switch"><i class="fa fa-search"></i></a>
            <a href="#" class="primary-btn">Add Car</a>
        </div>
        <div class="offcanvas__logo">
            <a href="./index.html"><img src="../../user_assets/img/logo.png" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <ul class="offcanvas__widget__add">
            <li><i class="fa fa-clock-o"></i> Week day: 08:00 am to 18:00 pm</li>
            <li><i class="fa fa-envelope-o"></i> Info.colorlib@gmail.com</li>
        </ul>
        <div class="offcanvas__phone__num">
            <i class="fa fa-phone"></i>
            <span>(+12) 345 678 910</span>
        </div>
        <div class="offcanvas__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-google"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <ul class="header__top__widget">
                            <li><i class="fa fa-clock-o"></i> Week day: 08:00 am to 18:00 pm</li>
                            <li><i class="fa fa-envelope-o"></i> Info.colorlib@gmail.com</li>
                        </ul>
                    </div>
                    <div class="col-lg-5">
                        <div class="header__top__right">
                            <div class="header__top__phone">
                                <i class="fa fa-phone"></i>
                                <span>(+12) 345 678 910</span>
                            </div>
                            <div class="header__top__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="/"><img src="../../user_assets/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="header__nav">
                        <nav class="header__menu">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/car">Car Inventory</a></li>
                                <li><a href="/account">Account</a></li>
                                <li><a href="#">History</a>
                                    <ul class="dropdown">
                                        <li><a href="/transactions_history">Transactions History</a></li>
                                        <li><a href="/meeting_history">Meeting History</a></li>
                                    </ul>
                                </li>
                                <li class="active"><a href="/post_car">Post Car</a></li>
                                <li><a href="/customer_service">Customer Service</a></li>
                                <li th:if="${session.client != null}">
                                    <a href="/log-out">Log out</a>
                                </li>
                                <li th:if="${session.client == null}">
                                    <a href="/signin">Login</a>
                                </li>

                            </ul>
                        </nav>

                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <span class="fa fa-bars"></span>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Breadcrumb End -->
    <div class="breadcrumb-option set-bg" data-setbg="../../user_assets/img/breadcrumb-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Post Car</h2>
                        <div class="breadcrumb__links">
                            <a href="/"><i class="fa fa-home"></i> Home</a>
                            <span>Post Car</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form class="jotform-form" action="https://submit.jotform.com/submit/231444402555450" method="post"
        enctype="multipart/form-data" name="form_231444402555450" id="231444402555450" accept-charset="utf-8"
        autocomplete="on"><input type="hidden" name="formID" value="231444402555450" /><input type="hidden"
            id="JWTContainer" value="" /><input type="hidden" id="cardinalOrderNumber" value="" />
        <div role="main" class="form-all">
            <link type="text/css" rel="stylesheet" media="all"
                href="https://cdn.jotfor.ms/wizards/languageWizard/custom-dropdown/css/lang-dd.css?3.3.42150" />
            <div class="cont"><input type="text" id="input_language" name="input_language" style="display:none" />
                <div class="language-dd" id="langDd" style="display:none">
                    <div class="dd-placeholder lang-emp">Language</div>
                    <ul class="lang-list dn" id="langList">
                        <li data-lang="en" class="en">English (US)</li>
                    </ul>
                </div>
            </div>
            <script type="text/javascript" src="https://cdn.jotfor.ms/js/formTranslation.v2.js?3.3.42150"></script>
            <ul class="form-section page-section">
                <li id="cid_1" class="form-input-wide" data-type="control_head">
                    <div style="display:table;width:100%">
                        <div class="form-header-group hasImage header-large" data-imagealign="Top">
                            <div class="header-logo"><img
                                    src="https://images.unsplash.com/photo-1489824904134-891ab64532f1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;amp;ixlib=rb-1.2.1&amp;amp;auto=format&amp;amp;fit=crop&amp;amp;w=1189&amp;amp;q=80"
                                    alt="Car Show Entry Form" width="350" class="header-logo-top" /></div>
                            <div class="header-text httac htvam">
                                <h1 id="header_1" class="form-header" data-component="header">Car Show Entry Form</h1>
                                <div id="subHeader_1" class="form-subHeader">Easily register your car for the show using
                                   </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li id="cid_30" class="form-input-wide" data-type="control_head">
                    <div class="form-header-group  header-default">
                        <div class="header-text httal htvam">
                            <h2 id="header_30" class="form-header" data-component="header">Attendee Information</h2>
                            <div id="subHeader_30" class="form-subHeader">Please fill in the required fields (indicated
                                by *).</div>
                        </div>
                    </div>
                </li>
                <li class="form-line jf-required" data-type="control_fullname" id="id_3"><label
                        class="form-label form-label-top form-label-auto" id="label_3" for="first_3"> Full Name<span
                            class="form-required">*</span> </label>
                    <div id="cid_3" class="form-input-wide jf-required" data-layout="full">
                        <div data-wrapper-react="true"><span class="form-sub-label-container" style="vertical-align:top"
                                data-input-type="first"><input type="text" id="first_3" name="q3_fullName3[first]"
                                    class="form-textbox validate[required]" data-defaultvalue=""
                                    autoComplete="section-input_3 given-name" size="10" value="" data-component="first"
                                    aria-labelledby="label_3 sublabel_3_first" required="" /><label
                                    class="form-sub-label" for="first_3" id="sublabel_3_first" style="min-height:13px"
                                    aria-hidden="false">First Name</label></span><span class="form-sub-label-container"
                                style="vertical-align:top" data-input-type="last"><input type="text" id="last_3"
                                    name="q3_fullName3[last]" class="form-textbox validate[required]"
                                    data-defaultvalue="" autoComplete="section-input_3 family-name" size="15" value=""
                                    data-component="last" aria-labelledby="label_3 sublabel_3_last" required="" /><label
                                    class="form-sub-label" for="last_3" id="sublabel_3_last" style="min-height:13px"
                                    aria-hidden="false">Last Name</label></span></div>
                    </div>
                </li>
                <li class="form-line jf-required" data-type="control_address" id="id_4"><label
                        class="form-label form-label-top form-label-auto" id="label_4" for="input_4_addr_line1">
                        Address<span class="form-required">*</span> </label>
                    <div id="cid_4" class="form-input-wide jf-required" data-layout="full">
                        <div summary="" class="form-address-table jsTest-addressField">
                            <div class="form-address-line-wrapper jsTest-address-line-wrapperField"><span
                                    class="form-address-line form-address-street-line jsTest-address-lineField"><span
                                        class="form-sub-label-container" style="vertical-align:top"><input type="text"
                                            id="input_4_addr_line1" name="q4_address4[addr_line1]"
                                            class="form-textbox validate[required] form-address-line"
                                            data-defaultvalue="" autoComplete="section-input_4 address-line1" value=""
                                            data-component="address_line_1"
                                            aria-labelledby="label_4 sublabel_4_addr_line1" required="" /><label
                                            class="form-sub-label" for="input_4_addr_line1" id="sublabel_4_addr_line1"
                                            style="min-height:13px" aria-hidden="false">Street
                                            Address</label></span></span></div>
                            <div class="form-address-line-wrapper jsTest-address-line-wrapperField"><span
                                    class="form-address-line form-address-street-line jsTest-address-lineField"><span
                                        class="form-sub-label-container" style="vertical-align:top"><input type="text"
                                            id="input_4_addr_line2" name="q4_address4[addr_line2]"
                                            class="form-textbox form-address-line" data-defaultvalue=""
                                            autoComplete="section-input_4 address-line2" value=""
                                            data-component="address_line_2"
                                            aria-labelledby="label_4 sublabel_4_addr_line2" /><label
                                            class="form-sub-label" for="input_4_addr_line2" id="sublabel_4_addr_line2"
                                            style="min-height:13px" aria-hidden="false">Street Address Line
                                            2</label></span></span></div>
                            <div class="form-address-line-wrapper jsTest-address-line-wrapperField"><span
                                    class="form-address-line form-address-city-line jsTest-address-lineField "><span
                                        class="form-sub-label-container" style="vertical-align:top"><input type="text"
                                            id="input_4_city" name="q4_address4[city]"
                                            class="form-textbox validate[required] form-address-city"
                                            data-defaultvalue="" autoComplete="section-input_4 address-level2" value=""
                                            data-component="city" aria-labelledby="label_4 sublabel_4_city"
                                            required="" /><label class="form-sub-label" for="input_4_city"
                                            id="sublabel_4_city" style="min-height:13px"
                                            aria-hidden="false">City</label></span></span><span
                                    class="form-address-line form-address-state-line jsTest-address-lineField "><span
                                        class="form-sub-label-container" style="vertical-align:top"><input type="text"
                                            id="input_4_state" name="q4_address4[state]"
                                            class="form-textbox validate[required] form-address-state"
                                            data-defaultvalue="" autoComplete="section-input_4 address-level1" value=""
                                            data-component="state" aria-labelledby="label_4 sublabel_4_state"
                                            required="" /><label class="form-sub-label" for="input_4_state"
                                            id="sublabel_4_state" style="min-height:13px" aria-hidden="false">State /
                                            Province</label></span></span></div>
                            <div class="form-address-line-wrapper jsTest-address-line-wrapperField"><span
                                    class="form-address-line form-address-zip-line jsTest-address-lineField "><span
                                        class="form-sub-label-container" style="vertical-align:top"><input type="text"
                                            id="input_4_postal" name="q4_address4[postal]"
                                            class="form-textbox form-address-postal" data-defaultvalue=""
                                            autoComplete="section-input_4 postal-code" value="" data-component="zip"
                                            aria-labelledby="label_4 sublabel_4_postal" /><label class="form-sub-label"
                                            for="input_4_postal" id="sublabel_4_postal" style="min-height:13px"
                                            aria-hidden="false">Postal / Zip
                                            Code</label></span></span></div>
                        </div>
                    </div>
                </li>
                <li class="form-line jf-required" data-type="control_phone" id="id_5"><label
                        class="form-label form-label-top form-label-auto" id="label_5" for="input_5_full"> Phone
                        Number<span class="form-required">*</span> </label>
                    <div id="cid_5" class="form-input-wide jf-required" data-layout="half"> <span
                            class="form-sub-label-container" style="vertical-align:top"><input type="tel"
                                id="input_5_full" name="q5_phoneNumber5[full]" data-type="mask-number"
                                class="mask-phone-number form-textbox validate[required, Fill Mask]"
                                data-defaultvalue="" autoComplete="section-input_5 tel-national" style="width:310px"
                                data-masked="true" value="" placeholder="(000) 000-0000" data-component="phone"
                                aria-labelledby="label_5" required="" /></span> </div>
                </li>
                <li class="form-line jf-required" data-type="control_email" id="id_6"><label
                        class="form-label form-label-top form-label-auto" id="label_6" for="input_6"> E-mail<span
                            class="form-required">*</span> </label>
                    <div id="cid_6" class="form-input-wide jf-required" data-layout="half"> <span
                            class="form-sub-label-container" style="vertical-align:top"><input type="email" id="input_6"
                                name="q6_email6" class="form-textbox validate[required, Email]" data-defaultvalue=""
                                style="width:310px" size="310" value="" placeholder="ex: email@yahoo.com"
                                data-component="email" aria-labelledby="label_6 sublabel_input_6" required="" /><label
                                class="form-sub-label" for="input_6" id="sublabel_input_6" style="min-height:13px"
                                aria-hidden="false">example@example.com</label></span>
                    </div>
                </li>
                <li id="cid_25" class="form-input-wide" data-type="control_head">
                    <div class="form-header-group  header-default">
                        <div class="header-text httal htvam">
                            <h2 id="header_25" class="form-header" data-component="header">Car Information</h2>
                            <div id="subHeader_25" class="form-subHeader">We need some information about your car to
                                register you for
                                the show.</div>
                        </div>
                    </div>
                </li>
                <li class="form-line jf-required" data-type="control_textbox" id="id_24"><label
                        class="form-label form-label-top form-label-auto" id="label_24" for="input_24"> Car's
                        brand:<span class="form-required">*</span> </label>
                    <div id="cid_24" class="form-input-wide jf-required" data-layout="half"> <input type="text"
                            id="input_24" name="q24_carsBrand" data-type="input-textbox"
                            class="form-textbox validate[required, AlphaNumeric]" data-defaultvalue=""
                            style="width:310px" size="310" value="" placeholder="ex: Volkswagen"
                            data-component="textbox" aria-labelledby="label_24" required="" /> </div>
                </li>
                <li class="form-line jf-required" data-type="control_number" id="id_23"><label
                        class="form-label form-label-top form-label-auto" id="label_23" for="input_23"> Car's age:<span
                            class="form-required">*</span> </label>
                    <div id="cid_23" class="form-input-wide jf-required" data-layout="half"> <input type="number"
                            id="input_23" name="q23_carsAge" data-type="input-number"
                            class=" form-number-input form-textbox validate[required]" data-defaultvalue=""
                            style="width:310px" size="310" value="" placeholder="ex: 8" data-component="number"
                            aria-labelledby="label_23" required="" step="any" /> </div>
                </li>
                <li class="form-line jf-required" data-type="control_fileupload" id="id_16"><label
                        class="form-label form-label-top" id="label_16" for="input_16"> Upload images of the car from
                        all sides (max
                        4):<span class="form-required">*</span> </label>
                    <div id="cid_16" class="form-input-wide jf-required" data-layout="full">
                        <div class="jfQuestion-fields" data-wrapper-react="true">
                            <div class="jfField isFilled">
                                <div class="jfUpload-wrapper">
                                    <div class="jfUpload-container">
                                        <div class="jfUpload-button-container">
                                            <div class="jfUpload-button" aria-hidden="true" tabindex="0"
                                                style="display:none" data-version="v2">Browse Files<div
                                                    class="jfUpload-heading forDesktop">Drag and drop files here
                                                </div>
                                                <div class="jfUpload-heading forMobile">Choose a file</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="jfUpload-files-container">
                                        <div class="validate[multipleUpload]"><input type="file" id="input_16"
                                                name="q16_uploadImages[]" multiple=""
                                                class="form-upload-multiple validate[required]" data-imagevalidate="yes"
                                                data-file-accept="jpg, jpeg, png, gif" data-file-maxsize="10854"
                                                data-file-minsize="0" data-file-limit="4" data-component="fileupload"
                                                required="" aria-label="Browse Files" /></div>
                                    </div>
                                </div>
                                <div data-wrapper-react="true"></div>
                            </div><span style="display:none" class="cancelText">Cancel</span><span style="display:none"
                                class="ofText">of</span>
                        </div>
                    </div>
                </li>
                <li id="cid_26" class="form-input-wide" data-type="control_head">
                    <div class="form-header-group  header-default">
                        <div class="header-text httal htvam">
                            <h2 id="header_26" class="form-header" data-component="header">Show Information</h2>
                            <div id="subHeader_26" class="form-subHeader">Let&#x27;s continue with a few questions
                                regarding the show.
                            </div>
                        </div>
                    </div>
                </li>
                <li class="form-line" data-type="control_textarea" id="id_11"><label
                        class="form-label form-label-top form-label-auto" id="label_11" for="input_11"> Other
                        Description </label>
                    <div id="cid_11" class="form-input-wide" data-layout="full"> <textarea id="input_11"
                            class="form-textarea" name="q11_otherDescription" style="width:648px;height:163px"
                            data-component="textarea" aria-labelledby="label_11"></textarea> </div>
                </li>
                <li class="form-line" data-type="control_button" id="id_29">
                    <div id="cid_29" class="form-input-wide" data-layout="full">
                        <div data-align="auto"
                            class="form-buttons-wrapper form-buttons-auto   jsTest-button-wrapperField"><button
                                id="input_29" type="submit"
                                class="form-submit-button submit-button jf-form-buttons jsTest-submitField"
                                data-component="button" data-content="">Submit</button></div>
                    </div>
                </li>
                <li style="display:none">Should be Empty: <input type="text" name="website" value="" /></li>
            </ul>
        </div>
    </form>

    <!-- Footer Section Begin -->
    <footer class="footer set-bg" data-setbg="../../user_assets/img/footer-bg.jpg">
        <div class="container">
            <div class="footer__contact">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__contact__title">
                            <h2>Contact Us Now!</h2>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__contact__option">
                            <div class="option__item"><i class="fa fa-phone"></i> (+12) 345 678 910</div>
                            <div class="option__item email"><i class="fa fa-envelope-o"></i> Colorlib@gmail.com</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="../../user_assets/img/footer-logo.png" alt=""></a>
                        </div>
                        <p>Any questions? Let us know in store at 625 Gloria Union, California, United Stated or call us
                            on (+1) 96 123 8888</p>
                        <div class="footer__social">
                            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="google"><i class="fa fa-google"></i></a>
                            <a href="#" class="skype"><i class="fa fa-skype"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3">
                    <div class="footer__widget">
                        <h5>Infomation</h5>
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Purchase</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Payemnt</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Shipping</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Return</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3">
                    <div class="footer__widget">
                        <h5>Infomation</h5>
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Hatchback</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Sedan</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> SUV</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Crossover</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer__brand">
                        <h5>Top Brand</h5>
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Abarth</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Acura</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Alfa Romeo</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Audi</a></li>
                        </ul>
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-right"></i> BMW</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Chevrolet</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Ferrari</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Honda</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            <div class="footer__copyright__text">
                <p>Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is
                    made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com"
                        target="_blank">Colorlib</a>
                </p>
            </div>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="../../user_assets/js/bootstrap.min.js"></script>
    <script src="../../user_assets/js/jquery.nice-select.min.js"></script>
    <script src="../../user_assets/js/jquery-ui.min.js"></script>
    <script src="../../user_assets/js/jquery.magnific-popup.min.js"></script>
    <script src="../../user_assets/js/mixitup.min.js"></script>
    <script src="../../user_assets/js/jquery.slicknav.js"></script>
    <script src="../../user_assets/js/owl.carousel.min.js"></script>
    <script src="../../user_assets/js/main.js"></script>

    <script>
        JotForm.showJotFormPowered = "new_footer";
    </script>
    <script>
        JotForm.poweredByText = "Powered by Jotform";
    </script><input type="hidden" class="simple_spc" id="simple_spc" name="simple_spc" value="231444402555450" />
    <script type="text/javascript">
        var all_spc = document.querySelectorAll("form[id='231444402555450'] .si" + "mple" + "_spc");
        for (var i = 0; i < all_spc.length; i++) {
            all_spc[i].value = "231444402555450-231444402555450";
        }
    </script>
    <script type="text/javascript">JotForm.ownerView = true;</script>
    <script src="https://cdn.jotfor.ms//js/vendor/smoothscroll.min.js?v=3.3.42150"></script>
    <script src="https://cdn.jotfor.ms//js/errorNavigation.js?v=3.3.42150"></script>
</body>

</html>