<!DOCTYPE html>
<html lang="zxx" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="HVAC Template">
    <meta name="keywords" content="HVAC, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Transaction History</title>
    <link rel="icon" href="../../user_assets/img/logo.png" type="image/png"/>

    <!-- Google Font -->

    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../../user_assets/css/flatpickr.min.css">
    <link rel="stylesheet" href="../../user_assets/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../../user_assets/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../../user_assets/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../../user_assets/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../../user_assets/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="../../user_assets/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="../../user_assets/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../../user_assets/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../../user_assets/css/style.css" type="text/css">
    <link rel="stylesheet" href="../../user_assets/css/bookingform.css">
    <!--    notification css-->
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="../../user_assets/css/notification-style.css" />
    <link rel="stylesheet" href="../../user_assets/css/transaction-history.css" />


    <th:block th:if="${session.client != null}">
        <script>let id = '[[${session.client.getId()}]]'</script>
    </th:block>
    <script src="../../user_assets/js/notification-js.js"></script>
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!--    notification starts-->
<div th:if="${session.client != null}" class="header_notification_warp d-flex align-items-center justify-content-center" style="z-index: 3; position: absolute; right: 2rem;">
    <li>
        <a class="bell_notification_clicker" href="#">
            <div class="fa fa-bell"></div>
            <!--                <span>2</span>-->
        </a>

        <div class="Menu_NOtification_Wrap">
            <div class="notification_Header">
                <h4>Notifications</h4>
            </div>
            <div class="Notification_body">
            </div>
            <div class="nofity_footer">
                <div class="submit_button text-center pt_20" id="see-more">
                    <a href="#!" class="btn_1">See More</a>
                </div>
            </div>
        </div>
    </li>
</div>
<!--    notification ends-->

<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div id="mobile-menu-wrap"></div>
</div>
<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<header class="header">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2">
                <div class="header__logo">
                    <a href="/"><img src="../../user_assets/img/logo.png" alt=""></a>
                    <p class="logo-text ms-2 d-none d-sm-block">Timeless Ride</p>
                </div>
            </div>
            <div class="col-lg-10">
                <div class="header__nav">
                    <nav class="header__menu" style="width: 100%">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/car">Car Inventory</a></li>
                            <li><a href="/account">Account</a></li>
                            <li class="active"><a href="#">History</a>
                                <ul class="dropdown">
                                    <li><a href="/transactions_history">Transactions History</a></li>
                                    <li><a href="/meeting_history">Meeting History</a></li>
                                    <li ><a href="/post-history">My Post</a></li>
                                </ul>
                            </li>
                            <li><a href="/post_car">Post Car</a></li>
                            <li><a href="/customer_service">Customer Service</a></li>
                            <li th:if="${session.client != null}">
                                <a href="/log-out">Log out</a>
                            </li>
                            <li th:if="${session.client == null}">
                                <a href="/signin">Login</a>
                            </li>

                        </ul>
                    </nav>

                </div>
            </div>
        </div>
        <div class="canvas__open">
            <span class="fa fa-bars"></span>
        </div>
    </div>
</header>
<!-- Header Section End -->

<!-- Breadcrumb End -->
<div class="breadcrumb-option set-bg" data-setbg="../../user_assets/img/breadcrumb-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Transaction History</h2>
                    <div class="breadcrumb__links">
                        <a href="/"><i class="fa fa-home"></i> Home</a>
                        <span>Transaction History</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="transaction-history"style="width:100%;height:80vh; padding:0 100px;">

    <!-- code here -->


    <div class="body">
        <h1 th:if="${invoiceList.isEmpty()}" th:text="'You don\'t have any transactions'" class="text-center mt-5"/>
        <th:block th:if="${!invoiceList.isEmpty()}">
            <div style="margin: 20px;">
            </div>
            <table id="transactionTable">
                <thead>
                    <tr >
                        <th class="headtable">No.</th>
                        <th class="headtable">Staff Name</th>
                        <th class="headtable">Car Make</th>
                        <th class="headtable">Car Model</th>
                        <th class="headtable">Price</th>
                        <th class="headtable">Status</th>
                        <th class="headtable">Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="invoice, iStat: ${invoiceList}">
                        <td th:text="${iStat.count}"/>
<!--                        <td><a href="#" onclick="openProfileModal('John Doe')">John Doe</a></td>-->
                        <td th:text="${invoice.getStaff().getName()}"/>
                        <td th:text="${invoice.getCar().getCarDescription().getMake()}"/>
                        <td th:text="${invoice.getCar().getCarDescription().getModel()}"/>
                        <td><span class="price-tag" th:text="${invoice.getFormattedTotal()}"></span></td>
                        <td><span class="date-tag" th:text="${invoice.getStatus()}"></span></td>
                        <td><span class="date-tag"th:text="${invoice.getCreateDate()}"></span></td>
                    </tr>
                </tbody>
            </table>
        </th:block>



        <div id="profileModal" class="profile-modal">
            <h2>Seller Profile</h2>
            <p id="profileName"></p>
            <p id="profileEmail"></p>
            <p id="profilePhone"></p>
            <button onclick="closeProfileModal()">Close</button>
        </div>
    </div>

    <script src="../../user_assets/js/flatpickr.js"></script>
    <script>
        const transactionTable = document.getElementById('transactionTable');
        const datePicker = flatpickr('#datePicker', {
            dateFormat: 'Y-m-d',
        });
        const profileModal = document.getElementById('profileModal');
        const profileName = document.getElementById('profileName');
        const manufacturerTable = document.getElementById('manufacturerTable');

        function showTransactions() {
            const selectedDate = datePicker.selectedDates[0].toISOString().split('T')[0];
            const rows = transactionTable.getElementsByTagName('tr');

            for (let i = 1; i < rows.length; i++) {
                const dateCell = rows[i].getElementsByTagName('td')[6];
                const date = dateCell.textContent;

                if (date === selectedDate) {
                    rows[i].style.display = 'table-row';
                } else {
                    rows[i].style.display = 'none';
                }
            }
        }

        function openProfileModal(name, email, phone) {
            profileName.textContent = name;
            profileEmail.textContent = 'Email: ' + email;
            profilePhone.textContent = 'Phone: ' + phone;
            profileModal.classList.add('active');
        }

        function closeProfileModal() {
            profileModal.classList.remove('active');
        }
    </script>
</section>

<!-- Footer Section Begin -->
<footer class="footer set-bg" data-setbg="../../user_assets/img/footer-bg.jpg">
    <div class="container">
        <div class="footer__contact">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="footer__contact__title">
                        <h2>Contact Us Now!</h2>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="footer__contact__option">
                        <div class="option__item"><i class="fa fa-phone"></i> (+84) 367 669 780</div>
                        <div class="option__item email"><i class="fa fa-envelope-o"></i> TimeLessRide@gmail.com</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="/"><img src="../../user_assets/img/white-car-logo.png"width="100"></a>
                        <p class="logo-text ms-2 d-none d-sm-block" style="  margin: 0px 0 15px 8px; font-weight:900; color: white">Timeless Ride </p>
                    </div>
                    <p>Any questions? Contact with us</p>
                    <p>Email:TimeLessRide@gmail.com </p>
                    <p>Phone number: (+84) 367 669 780</p>
                    <div class="footer__social">
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="google"><i class="fa fa-google"></i></a>
                        <a href="#" class="skype"><i class="fa fa-skype"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1 col-md-3">
                <div class="footer__widget">
                    <h5>Infomation</h5>
                    <ul>
                        <li><a href="/account"><i class="fa fa-angle-right"></i> Account</a></li>
                        <li><a href="/customer_service"><i class="fa fa-angle-right"></i> Customer Service</a></li>
                        <li><a href="/car"><i class="fa fa-angle-right"></i> Car Inventory</a></li>
                        <li><a href="/post_car"><i class="fa fa-angle-right"></i> Post Car</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3">
                <div class="footer__widget">
                    <h5>History</h5>
                    <ul>
                        <li><a href="/transactions_history"><i class="fa fa-angle-right"></i> Transaction History</a></li>
                        <li><a href="/meeting_history"><i class="fa fa-angle-right"></i> Meeting History</a></li>
                        <li><a href="/post-history"><i class="fa fa-angle-right"></i> My Posst</a></li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer__brand">
                    <h5> Team Member</h5>
                    <ul>
                        <li><a href="#"><i class="fa fa-angle-right"></i> Nguyễn Hưng Hãi</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i> Nguyễn Thanh Duy</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i> Nguyễn Quốc Thái</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i> Đỗ Minh Trí</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        <div class="footer__copyright__text">
            <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
        </div>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    </div>
</footer>
<!-- Footer Section End -->

<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search End -->

<!-- Js Plugins -->
<script src="../../user_assets/js/jquery-3.3.1.min.js"></script>
<script src="../../user_assets/js/bootstrap.min.js"></script>
<script src="../../user_assets/js/jquery.nice-select.min.js"></script>
<script src="../../user_assets/js/jquery-ui.min.js"></script>
<script src="../../user_assets/js/jquery.magnific-popup.min.js"></script>
<script src="../../user_assets/js/mixitup.min.js"></script>
<script src="../../user_assets/js/jquery.slicknav.js"></script>
<script src="../../user_assets/js/owl.carousel.min.js"></script>
<script src="../../user_assets/js/main.js"></script>
<script>
    document.getElementsByClassName("flatpickr-monthDropdown-months")[0].style.display = 'inline-block' ;
</script>
<!-- notification js-->
<script src="../../admin_assets/js/metisMenu.js"></script>
<script src="../../admin_assets/js/custom.js"></script>
</body>

</html>
