<!DOCTYPE html>
<html lang="en-US" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Profile</title>

    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="../../../staff_assets/img/favicons/apple-touch-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="../../staff_assets/img/icons/car_logo.ico">
    <link rel="manifest" href="../../../staff_assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="../../../staff_assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">
    <script src="../../../vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="../../../vendors/simplebar/simplebar.min.js"></script>
    <script src="../../../staff_assets/js/config.js"></script>

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap"
          rel="stylesheet">
    <link href="../../../vendors/simplebar/simplebar.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../../../../unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link href="../../../staff_assets/css/theme-rtl.min.css" type="text/css" rel="stylesheet" id="style-rtl">
    <link href="../../../staff_assets/css/theme.min.css" type="text/css" rel="stylesheet" id="style-default">
    <link href="../../../staff_assets/css/user-rtl.min.css" type="text/css" rel="stylesheet" id="user-style-rtl">
    <link href="../../../staff_assets/css/user.min.css" type="text/css" rel="stylesheet" id="user-style-default">
    <link href="../../../staff_assets/css/theme-rtl.min.css" type="text/css" rel="stylesheet" id="style-rtl-1">
    <link rel="stylesheet" href="../../../staff_assets/css/change-pass-form.css">
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css" rel="stylesheet">
</head>
<body>
<main class="main" id="top">
    <nav class="navbar navbar-top fixed-top navbar-expand" id="navbarDefault">
        <div class="collapse navbar-collapse justify-content-between">
            <div class="navbar-logo">
                <a class="navbar-brand me-1 me-sm-3" href="/staff/home">
                    <div class="d-flex align-items-center">
                        <div class="d-flex align-items-center"><img src="../../../staff_assets/img/icons/logo.png"
                                                                    alt="logo" width="80"/>
                            <p class="logo-text ms-2 d-none d-sm-block">Timeless Ride</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <nav class="ecommerce-navbar navbar-expand navbar-light bg-white justify-content-between">
            <div class="container-small d-flex flex-between-center" data-navbar="data-navbar">

                <ul class="navbar-nav justify-content-end align-items-center">
                    <li class="nav-item active" data-nav-item="data-nav-item"><a class="nav-link fs-md-1 "
                                                                                 href="/staff/home">Home</a></li>
                    <li class="nav-item" data-nav-item="data-nav-item"><a class="nav-link fs-md-0"
                                                                          href="/staff/meeting-requests">Meeting
                        Requests</a></li>
                    <li class="nav-item" data-nav-item="data-nav-item"><a class="nav-link fs-md-0"
                                                                          href="/staff/post-requests">Post
                        Requests</a>
                    </li>
                    <li class="nav-item" data-nav-item="data-nav-item"><a class="nav-link fs-md-0"
                                                                          href="/staff/create-invoice">Create
                        Invoice</a></li>
                    <li class="nav-item" data-nav-item="data-nav-item"><a class="nav-link fs-md-0"
                                                                          href="/staff/log-out">Log Out</a></li>
                </ul>
            </div>
        </nav>
    </nav>
    <div class="content">
        <section class="pt-5 pb-9">
            <div class="container-small">
                <div class="row align-items-center justify-content-between g-3 mb-4">
                    <div class="col-auto">
                        <h2 class="mb-0">Profile</h2>
                    </div>
                    <div class="col-auto">
                        <div class="row g-2 g-sm-3">
                            <div class="col-auto">
                                <button id="change-password-btn" class="change-password-btn btn btn-secondary">
                                    Change
                                    password
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <dialog id="dialog">
                    <div id="change-password-form" class="change-password-form">

                        <main id="top1">
                            <div class="container">
                                <div class="row flex-center min-vh-100 py-5">
                                    <div class="change-password-inner-form col-sm-10 col-md-8 col-lg-5 col-xl-5 col-xxl-3">
                                        <a
                                                class="d-flex flex-center text-decoration-none mb-4">
                                            <div class="esc-button">&times;</div>
                                            <div class="d-flex align-items-center fw-bolder fs-5 d-inline-block">
                                                <img
                                                        src="../../../staff_assets/img/icons/logo.png" alt="phoenix"
                                                        width="58"/>
                                            </div>
                                        </a>
                                        <div class="text-center mb-6">
                                            <h4 class="text-1000">Reset your password</h4>
                                            <form th:action="@{/staff/change-password (id = ${session.staff.getId()})}" class="mt-5" method="post">
                                                <input class="form-control mb-2" id="currenPassword" type="password"
                                                       name="oldPassword" placeholder="Your current password"/>
                                                <input class="form-control mb-2" id="password" type="password"
                                                       name="newPassword" placeholder="Type new password"/>
                                                <input class="form-control mb-4" id="confirmPassword"
                                                       type="password"
                                                       placeholder="Confirm new password"/>
                                                <p id="message" style="pointer-events: none; user-select: none"></p>
                                                <button class="btn btn-primary w-100" type="submit">Confirm</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </main>
                    </div>
                </dialog>
                <div class="row g-3 mb-6">
                    <div class="col-12 col-lg-8">
                        <div class="card h-100">
                            <div class="card-body">
                                <div class="border-dashed border-300 pb-4">
                                    <div class="row align-items-center g-3 g-sm-5 text-center text-sm-start">
                                        <div class="col-12 col-sm-auto"><input class="d-none" id="avatarFile"
                                                                               /><label
                                                class="cursor-pointer avatar avatar-5xl" for="avatarFile"><img
                                                class="rounded-circle" th:src="${session.staff.getAvatar()}"
                                                alt=""/></label></div>
                                        <div class="col-12 col-sm-auto flex-1">
                                            <h3 th:text="${session.staff.getName()}"></h3>
                                            <p class="text-800"
                                               th:text="'Joined ' + ${session.staff.getWorkingTime()} + ' months ago'"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <div class="pt-4 mb-7 mb-lg-4 mb-xl-7">
                                    <div class="row justify-content-between">
                                        <div class="col-auto">
                                            <h5 class="text-1000">Address:</h5>
                                        </div>
                                        <div class="col-auto">
                                            <p class="text-800" th:text="${session.staff.getAddress()}"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-top pt-4">
                                    <div class="row flex-between-center mb-2">
                                        <div class="col-auto">
                                            <h5 class="text-1000 mb-0">Email:</h5>
                                        </div>
                                        <div class="col-auto" th:text="${session.staff.getEmail()}"></div>
                                    </div>
                                    <div class="row flex-between-center">
                                        <div class="col-auto">
                                            <h5 class="text-1000 mb-0">Phone:</h5>
                                        </div>
                                        <div class="col-auto text-800" th:text="${session.staff.getPhone()}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="pt-5 pb-9">
            <p class="text-danger fs-3 text-center" th:if="${errorMsg != null}" th:text="${errorMsg}"/>
            <p class="text-success fs-3 text-center" th:if="${successMsg != null}" th:text="${successMsg}"/>
            <div class="container-small cart">
                <h2 class="mb-5">My Meetings<span class="text-700 fw-normal ms-2"
                                                  th:text="${totalMeetings == null} ? '(0 meetings)' : '(' + ${totalMeetings} + ' meetings)'"></span>
                </h2>
                <div class="border-y" id="productWishlistTable"
                     data-list='{"valueNames":["products","color","size","price","quantity","total"],"page":5,"pagination":true}'
                     th:if="${!meetingList.isEmpty()}">
                    <div class="table-responsive scrollbar">
                        <table class="table fs--1 mb-0">
                            <thead>
                            <tr>
                                <th class="sort white-space-nowrap align-middle" scope="col" style="width:3%;">No.
                                </th>
                                <th class="sort white-space-nowrap text-center" scope="col"
                                    style="width:25%; min-width:200px;">User Name
                                </th>
                                <th class="sort align-middle" scope="col" data-sort="color" style="width:10%;">
                                    <a class="link-dark hover-text-decoration-none"
                                       th:with="direction=((${direction} == 'asc') ? 'desc' : 'asc')"
                                       th:href="@{'/staff/home/sorted-by-meetingDate-' + ${direction}(offset=1)}"
                                       th:text="'Meeting Date'"/>
                                </th>
                                <th class="sort align-middle" scope="col" style="width:30%; min-width: 250px">
                                    Description
                                </th>
                                <th class="sort align-middle text-center" scope="col" style="width:10%;">Status</th>
                                <th class="sort align-middle text-center pe-0" scope="col" style="width:30%;">
                                    Negotiation status
                                </th>
                            </tr>
                            </thead>
                            <tbody class="list" id="profile-wishlist-table-body">
                            <tr class="hover-actions-trigger btn-reveal-trigger position-static"
                                th:each="meeting, iStat: ${meetingList}">
                                <td class="align-middle white-space-nowrap ps-0 py-0">
                                    <div class="text-center" th:text="${(offset - 1) * 4 + iStat.count}"/>
                                </td>
                                <td class="products align-middle text-left pe-11"><a
                                        class="fw-semi-bold mb-0 line-clamp-1"
                                        th:href="@{/staff/user-details (id = ${meeting.getClient().getId()})}"
                                        th:text="${meeting.getClient().getName()}"/></td>
                                <td class="color align-middle white-space-nowrap fs--1 text-900"
                                    th:text="${meeting.getMeetingDate()}"/>
                                <td class="size align-middle flex-wrap text-700 fs--1 fw-semi-bold"
                                    th:text="${meeting.getDescription()}"/>
                                <td class="price align-middle text-900 fs--1 fw-semi-bold text-center">
                                    <span class="badge fs-md--1 badge-phoenix"
                                          th:classappend="${meeting.getTimeStatus() == 'Past'} ? 'badge-phoenix-warning' : 'badge-phoenix-secondary'"
                                          th:text="${meeting.getTimeStatus()}"/>
                                </td>
                                <td class="total align-middle fw-bold text-1000 text-center text-nowrap pe-0"
                                    th:if="${meeting.getTimeStatus() != 'Past'}">
                                    <a class="hover-text-decoration-none">
                                        <button class="btn btn-dark hover-text-600 fs--1 disabled" th:text="Fail"/>
                                    </a>
                                    <a class="hover-text-decoration-none">
                                        <button class="btn btn-success hover-text-600 fs--1 disabled"
                                                th:text="Succeed"/>
                                    </a>
                                    <a class="hover-text-decoration-none"
                                       th:href="@{'/staff/home/action=cancel' (meetingId=${meeting.getId()}, offset=${offset}, direction=${direction}, property=${property})}">
                                        <button class="btn btn-danger hover-text-600 fs--1" th:text="Cancel"/>
                                    </a>
                                </td>
                                <td class="total align-middle fw-bold text-1000 text-center text-nowrap pe-0"
                                    th:if="${meeting.getTimeStatus() == 'Past'}">
                                    <a class="hover-text-decoration-none"
                                       th:href="@{'/staff/home/action=fail' (meetingId=${meeting.getId()}, offset=${offset}, direction=${direction}, property=${property})}">
                                        <button class="btn btn-dark hover-text-600 fs--1" th:text="Fail"/>
                                    </a>
                                    <a class="hover-text-decoration-none"
                                       th:href="@{'/staff/home/action=succeed' (meetingId=${meeting.getId()}, offset=${offset}, direction=${direction}, property=${property})}">
                                        <button class="btn btn-success hover-text-600 fs--1" th:text="Succeed"/>
                                    </a>
                                    <a class="hover-text-decoration-none">
                                        <button class="btn btn-danger hover-text-600 fs--1 disabled"
                                                th:text="Cancel"/>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <nav aria-label="Page navigation example" class="pt-3" th:if="${lastOffset > 1}">
                        <ul class="pagination"
                            th:with="url=(${property == null} ? '/staff/home' : '/staff/home/sorted-by-' + ${property} + '-' + ${direction})">
                            <li class="page-item">
                                <a class="page-link" aria-label="Previous"
                                   th:classappend="${offset == 1} ? 'disabled'"
                                   th:href="@{${url}(offset=1)}">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" aria-label="Previous"
                                   th:classappend="${offset == 1} ? 'disabled'"
                                   th:href="@{${url}(offset=${offset - 1})}">
                                    <span aria-hidden="true">&lsaquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link active" th:text="${offset}" href="#"/></li>
                            <li class="page-item" th:if="${lastOffset >= offset + 1}"><a class="page-link"
                                                                                         th:text="${offset + 1}"
                                                                                         th:href="@{${url} (offset = ${offset + 1})}"/>
                            </li>
                            <li class="page-item" th:if="${lastOffset >= offset + 2}"><a class="page-link"
                                                                                         th:text="${offset + 2}"
                                                                                         th:href="@{${url} (offset = ${offset + 2})}"/>
                            </li>
                            <li class="page-item" th:if="${lastOffset >= offset + 3}"><a class="page-link"
                                                                                         th:text="${offset + 3}"
                                                                                         th:href="@{${url} (offset = ${offset + 3})}"/>
                            </li>
                            <li class="page-item">
                                <a class="page-link" aria-label="Next"
                                   th:classappend="${lastOffset < offset + 1} ? 'disabled'"
                                   th:href="@{${url} (offset = ${offset + 1})}">
                                    <span class="sr-only">Next</span>
                                    <span aria-hidden="true">&rsaquo;</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" aria-label="Next"
                                   th:classappend="${lastOffset < offset + 1} ? 'disabled'"
                                   th:href="@{${url} (offset = ${lastOffset})}">
                                    <span class="sr-only">Next</span>
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </section>
    </div>

    <section class="bg-100 dark__bg-1100 py-9">
        <div class="container-small">
            <div class="row justify-content-between gy-4">
                <div class="col-12 col-lg-4">
                    <div class="d-flex align-items-center mb-3"><img src="../../../staff_assets/img/icons/logo.png"
                                                                     alt="phoenix" width="80"/>
                        <p class="logo-text ms-2">Timeless Ride</p>
                    </div>
                    <p class="text-700 mb-1 fw-semi-bold lh-sm fs--1">Timeless Ride is a dynamic and user-friendly
                        car
                        trading website that caters to automotive enthusiasts and individuals seeking a seamless
                        buying
                        and selling experience. Our platform provides a virtual marketplace where users can browse,
                        list, and connect with potential buyers or sellers of pre-owned vehicles.</p>
                </div>
                <div class="col-6 col-md-auto">
                    <h5 class="fw-bolder mb-3">Customer Service</h5>
                    <div class="d-flex flex-column"><a class="text-700 fw-semi-bold fs--1 mb-1"
                                                       href="#!">Help </a><a
                            class="text-700 fw-semi-bold fs--1 mb-1" href="#!">Support, 24/7</a></div>
                </div>
                <div class="col-6 col-md-auto">
                    <h5 class="fw-bolder mb-3">Payment Method</h5>
                    <div class="d-flex flex-column"><a class="text-700 fw-semi-bold fs--1 mb-1" href="#!">Cash on
                        Delivery</a><a class="text-700 fw-semi-bold fs--1 mb-1" href="#!">Online Payment</a><a
                            class="text-700 fw-semi-bold fs--1 mb-1" href="#!">PayPal</a><a
                            class="text-700 fw-semi-bold fs--1 mb-1" href="#!">Installment</a></div>
                </div>
                <div class="col-6 col-md-auto">
                    <h5 class="fw-bolder mb-3">Social Contacts</h5>
                    <div class="d-flex flex-column">
                        <a class="mb-1 fw-semi-bold fs--1 d-flex" href="#!"><span
                                class="fab fa-facebook-square text-primary me-2 fs-0"></span><span
                                class="text-800">Facebook</span></a>
                        <a class="mb-1 fw-semi-bold fs--1 d-flex" href="#!"><span
                                class="fab fa-twitter-square text-info me-2 fs-0"></span><span
                                class="text-800">Instagram</span></a>
                        <a class="mb-1 fw-semi-bold fs--1 d-flex" href="#!"><span
                                class="fab fa-twitter-square text-info me-2 fs-0"></span><span
                                class="text-800">Zalo</span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script src="../../../staff_assets/js/change-password.js"></script>
</body>
</html>