<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf Fragments: header</title>
</head>
<body>
    <nav class="navbar navbar-top fixed-top navbar-expand" id="navbarDefault" th:fragment="header">
        <div class="collapse navbar-collapse justify-content-between">
            <div class="navbar-logo">
                <a class="navbar-brand me-1 me-sm-3" href="/staff/home">
                    <div class="d-flex align-items-center">
                        <div class="d-flex align-items-center"><img src="../../staff_assets/img/icons/logo.png" alt="phoenix" width="27" />
                            <p class="logo-text ms-2 d-none d-sm-block">Timeless Ride</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <nav class="ecommerce-navbar navbar-expand navbar-light bg-white justify-content-between">
            <div class="container-small d-flex flex-between-center" data-navbar="data-navbar">

                <ul class="navbar-nav justify-content-end align-items-center">
                    <li class="nav-item active" data-nav-item="data-nav-item"><a class="nav-link fs-md-1 " href="/staff/home">Home</a></li>
                    <li class="nav-item" data-nav-item="data-nav-item"><a class="nav-link fs-md-0" href="/staff/meeting-requests">Meeting Requests</a></li>
                    <li class="nav-item" data-nav-item="data-nav-item"><a class="nav-link fs-md-0" href="/staff/post-requests">Post Requests</a></li>
                    <li class="nav-item" data-nav-item="data-nav-item"><a class="nav-link fs-md-0" href="/staff/create-invoice">Create Invoice</a></li>
                    <li class="nav-item" data-nav-item="data-nav-item"><a class="nav-link fs-md-0" href="/staff/log-out">Log Out</a></li>
                </ul>
            </div>
        </nav>
    </nav>
</body>
</html>