.change-password{
    position: absolute;
    top: -6%;
    transition: top .5s ease-in-out 0s;
    visibility: hidden;
}

.active{
    position: absolute;
    transition: top .5s ease-in-out 0s;
    top: 5%;
    visibility: visible;
}

.second-row-input{
    padding: 7px;
    width: 100%;
    cursor: pointer;
    height: calc(1.5em + 0.75rem + 2px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.labels{
    display: block;
}

.change-password{
    justify-content: center;
}

#message{
    pointer-events: none;
    user-select: none;
    color: red;
    flex-basis: 100%;
    margin-left: 6%;
}

/*.fa-bell {*/
/*    font-size: 2rem;*/
/*    cursor: pointer;*/
/*    color: red;*/
/*    margin: 1rem 1rem auto auto;*/
/*}*/

/*.notify-container {*/
/*    width: 35%;*/
/*    display: none;*/
/*    right: 0;*/
/*    position: absolute;*/
/*    z-index: 2;*/
/*}*/

/*.notify-content {*/
/*    padding: 0.5rem;*/
/*    background-color: #bacbe6;*/
/*}*/

/*.content-end {*/
/*    text-align: end;*/
/*}*/

/*.my-style {*/
/*    display: block!important;*/
/*}*/

/*.my-arrow {*/
/*    background-color: white;*/
/*    width: 0;*/
/*    height: 0;*/
/*    border-left: 1.5rem solid transparent;*/
/*    border-right: 1.5rem solid transparent;*/
/*    border-bottom: 1.5rem solid #bacbe6;*/
/*    margin-left: auto;*/
/*}*/