*{
    --main-background-color: red;
    --main-border-color: red;
    font-family: "Lato", sans-serif;
}

.login-form{
    width: 50%;
    margin-top: 30px;
    border: 1px solid;
    border-radius: 17px;
    padding: 0;
    box-shadow: 0px 5px 15px 2px;
}

.form-outline label{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    user-select: none;
    opacity: 0.5;
    pointer-events: none;
    transition: 0.25s ease;
}

.form-outline{
    margin: auto;
    transition: 0.25s ease;
    position: relative;
}

.form-outline input:not(:placeholder-shown) + label,
.form-outline input:focus + label{
    top: 0;
    background-color: white;
    display: inline-block;

}
.form-outline input:focus + label{
    opacity: 1;
    color: var(--main-background-color);
}

.form-control:focus {
    border-color: var(--main-border-color);
    box-shadow:none;
}

.form-check-input:checked{
    background-color: var(--main-background-color);
    border-color: var(--main-border-color);
}

.form-link{
    opacity: 0.8;
    text-decoration: none;
    color: var(--main-background-color);
}

.form-link:hover{
    color: var(--main-background-color);
    opacity: 1;
}

.nav-pills .nav-link{
    color: black;
    border-radius: 0px;
    border-bottom: none;
    opacity: 0.8;
}

#tab-login{
    border-top-left-radius: 17px;
}

#tab-register{
    border-top-right-radius: 17px;
}

.nav-link:hover{
    opacity: 1;
}

.nav-link.active{
    border:none;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: var(--main-background-color);
}

.submit{
    display: block;
    width: 100%;
    max-width: 121px;
    background-color: var(--main-background-color);
    border: var(--main-border-color);
    opacity: 0.8;
    padding: 14px;
    margin: auto;
}

.submit:hover{
    background-color: var(--main-background-color);
    border: var(--main-border-color);
    opacity: 1;
}

.google{
    justify-content: center;
}

.header__menu a{
    text-decoration: none;
}

.tab-content{
    width: 70%;
    margin: auto;
}

.back-button{
    padding: 10px 33px 10px 33px;
    background: white;
    color: black;
    border: 1px solid black;
    border-left: none;
    border-radius: 5px;
    transition: 0.5s ease;
}

.back-form{
    margin: 23px;
}

.button-before{
    content: "";
    width: 32px;
    height: 32px;
    display: inline-block;
    border: 1px solid black;
    transform: rotate(45deg);
    position: relative;
    top: 9px;
    left: 22px;
    z-index: -1;
    transition: 0.5s ease;
}

.back-button:hover{
    background: var(--main-background-color);
    border: 1px solid red;
    color: white;
}

span:has(~ .back-button:hover){
    background: var(--main-background-color);
    border: 1px solid red;
    color: white;
}

/*start style for reset password*/
.forgot-password {
    display: none;
}

#forgot-password-button {
    height: 100%;
}

.pop-up {
    position: absolute;
    top: -150%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.25);
    opacity: 0;
    transition: top 0ms ease-in-out 200ms,
    opacity 200ms ease-in-out 0ms,
    transform 20ms ease-in-out 0ms;
}

.pop-up-active {
    height: fit-content;
    position: fixed;
    left: 50%;
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 200ms,
    opacity 200ms ease-in-out 0ms,
    transform 20ms ease-in-out 0ms;
    z-index: 1;
}



.blur {
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.appointmentFieldRow.forSelectedDate {
    background-color: red;
}

.form-all {
    position: relative;
    background: white;
    width: 100%;
    box-shadow: 2px 2px 12px 2px black;
    border-radius: 10px;
}

.form-all input[type=submit] {
    background-color: #fb2f30;
    color: white;
    width: 25%;
    margin: auto;
    border: none;
    border-radius: 2px;
    display: block;
    padding: 15px;
}

.form-all input[type=submit] + span {
    height: 30px;
    content: "";
    display: block;
}

.form-all input:hover {
    border-color: red;
}

.form-all textarea:hover {
    border-color: red;
}

.form-all input {
    border: 1px solid;
    padding: 10px;
    width: 73%;
    display: block;
    margin: auto;
    margin-bottom: 15px;
}

.form-all p{
    text-align: center;
}

.form-all textarea {
    width: 100%;
}

.form-all h2 {
    text-align: center;
    padding-top: 20px;
}

.esc-button {
    background-color: gray;
    border-radius: 90px;
    display: inline-block;
    padding: 7px;
    color: white;
    font-size: 17px;
    width: 39px;
    text-align: center;
    position: absolute;
    transform: translate(-50%);
    top: 2%;
    left: 93%;
    cursor: pointer;
}

.form-all .form-submit-button {
    color: #ffffff !important;
    background: red;
    box-shadow: none;
    text-shadow: none;

}

.pop-up-active {
    width: 52%;
}

.header1::after{
    content: "";
    border-bottom: 2px solid #cecece;
    display: block;
    width: 90%;
    margin: auto;
    margin: 20px 0;
}

#resent-email{
    color: red
}

#resent-email:hover{
    color: red;
    opacity: 0.8;
}

#resent-email:active{
    color: red;
}