
    /* Apply general styling to the table */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

/* Style the 'No participant' text in red */
.text-danger {
    color: red;
}

/* Style the other text in green */
.text-success {
    color: green;
}

/* Style the 'Pending' status span as a tag */
.status-tag {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

/* Style different status values */
.status-tag.pending {
    background-color: #ffc107; /* Yellow */
    color: #fff; /* White text color */
}

.status-tag.failed {
    background-color: #dc3545; /* Red */
    color: #fff; /* White text color */
}
.status-tag.declined {
    background-color: #dc3545; /* Red */
    color: #fff; /* White text color */
}

.status-tag.approved {
    background-color: #28a745; /* Green */
    color: #fff; /* White text color */
}
.status-tag.deleted {
    background-color: #3b3535; /* Green */
    color: #fff; /* White text color */
}


.status-tag.done {
    background-color: #17a2b8; /* Blue */
    color: #fff; /* White text color */
}

.done{
    background-color: #ffc107;
}
.datee{
    background-color: #0acf83;
}

/* Style the 'Cancel' and 'Edit' buttons */
.btn-secondary {
    background-color: #17a2b8;
    color: #fff;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
}

.btn-secondary:hover {
    background-color: #138496;
}
.headtable{
    color:white;
    background-color: #ff0000!important;
}
