.owl-carousel.owl-loaded {
    height: 350px;
}


.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    height: 100%;
}

.owl-carousel .owl-stage {
    height: 100%;
}

.owl-carousel .owl-stage-outer {
    height: 100%;
}

.owl-carousel.owl-drag .owl-item {
    height: 100%;
}

.car-history-information ul {
    padding: 15px;
}

.car__item:hover{
    box-shadow: none;
}

.car__item{
    cursor: auto;
}
.hv_black:hover{
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}
.car__item__text {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 10px;
}

.car-history-information li {
    margin-bottom: 5px;
}

.car-history-information li span {
    font-weight: bold;
}
.status-tag.pending {
    color: #ffc107;
}

.status-tag.completed {
    color:  #28a745;
}
.status-tag.declined {
    color: #dc3545;
}

.status-tag.approved {
    color: #28a745;
}