#myForm .header{
    border-bottom: 1px solid #ECEDF3;
}

#myForm h4 {
    opacity: 0.8;
    font-size: 1.2rem;
}

#myForm .main-header > *{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#myForm h4{
    font-weight: 400;
}

#myForm input{
    width: 100%;
    padding: 8px;
    border-radius: 2px;
}

#myForm input:hover,:focus{
    border-color: #fb2f30;

}

#myForm input:hover,:focus + label{
    color: black;
}

#myForm textarea{
    width: 100%;
    height: 150px;
    padding: 1rem;
}

.image img{
    width: 10%;
    max-height: 65px;
    padding: 1%;
}

.image span{
    cursor: pointer;
    border: 1px solid black;
}

#myForm .container{
    margin-top: 20px;
    padding: 0 40px;
}

#myForm .main-container{
    border: 1px solid black;
    border-radius: 2px;
    box-shadow: 0 0 20px 2px black;
}

#myForm .row{
    margin: 10px 0;
}

#myForm input[type=submit]{
    background-color: #fb2f30;
    color: white;
    width: 15%;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*text-align: center;*/

    display: flex;
    justify-content: center;
    align-items: center;
}

#myForm input[type=submit]{
    background-color: #fb2f30;
    color: white;
    width: 15%;
    margin: auto;
    border: none;
    border-radius: 2px;
}

#myForm input[type=submit]:hover{
    background-color: #cd2425;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="file"]{
    display: none;
}

#image-label{
    color: white;
    height: 60px;
    width: 250px;
    background-color: grey;
    /*position: absolute;*/
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*text-align: center;*/

    display: flex;
    justify-content: center;
    align-items: center;
}

.duy-container{
    display: flex;
    align-items: center;
    justify-content: center;

}

.image span{
    border: 2px solid black;
    padding: 2px;
    position: absolute;
    left: 93%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.image p {
    display: inline-block;
    width: 50%;
    text-align: center;
    font-size: 113%;
}

.image{
    position: relative;
    margin: 5px;
    border-radius: 9px;
    border: 1px solid black;
    transition: box-shadow 0.3s ease, transfrom 0.3s ease;
}



.image:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.car-images label{
    border: 1px solid;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    transition: box-shadow 0.3s ease, transfrom 0.3s ease;
}

.car-images label:hover{
    box-shadow: 0 0 10px indianred;
}

.car-images .fa-cloud-upload{
    font-size: 60px;
}

.header{
    padding: 0px;
}

.header__menu li {
    margin-right: 18px;
}